<div style="margin: 0 auto;
padding: 20px 5px;
max-width: 450px;
min-width: 250px;
font-family: sans-serif;
color: #3e3e3e;">
    <div style="text-align: center;
    margin-bottom: 35px;">
        <img alt="citadel" src="cid:site-logo" width="221" height="40">
    </div>
    <div style="padding: 10px;
    padding-top: 30px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 6px 1px #d2d2d2;
    margin-bottom: 40px;">
        <div style="font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 20px;">
            Hi, <%= username %>!
        </div>
        <div style="font-size: 1.0em;
        line-height: 27px;
        margin-bottom: 20px;">
            You are a step away from enjoying our exclusive services.</br>
            <a style="text-decoration: underline; color: #219bd9;" href="<%= verification_url %>">Please, click this link to verify your email address</a>.
        </div>
        <div style="font-size: 1.0em;
        line-height: 27px;
        margin-bottom: 50px;">
            If you did not expect this email, someone might have mistyped their email. 
            Kindly ignore this message.
        </div>
    </div>
    <div style="text-align: center;">
        <div style="margin-bottom: 20px;">
            <ul style="list-style: none;
           padding: 0;
           margin: 0;
           display: inline;">
                <li style="display: inline-block; padding-right: 10px;">
                    <a href="https://web.facebook.com/thecitadelcapitalpartners/">
                        <img alt="facebook" src="cid:fb-logo" width="45" height="45">
                    </a>
                </li>
                <li style="display: inline-block;">
                    <a href="https://twitter.com/JamieCitadel">
                        <img alt="twitter" src="cid:tw-logo" width="45" height="45">
                    </a>
                </li>
            </ul>
        </div>
        <div style="font-size: 0.85em;
        line-height: 16px;">
            &copy; <%= year %> Thecitadelcapital, 392 Triq il Kanun, Santa Venera, Malta
        </div>
    </div>
</div>