.shadow {
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.4);
}

.txt-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.theme-bg-color {
    background-color: #424242;
}

.theme-txt-color {
    color: #424242;
}

.remove-elem {
    display: none;
}

.sec-max-width {
    max-width: 1250px;
}

.page-top-menu-cont {
    position: absolute;
    width: 100%;
    z-index: 200;
}

.page-top-menu-wrapper {
    margin: 0 auto;
    overflow: hidden;
}

.page-top-menu-cont.show {
    top: 0px;
    transition: top 0.3s;
}

.page-top-menu-cont.hide {
    top: -90px;
    transition: top 0.2s;
}

.page-top-menu-cont.fixed {
    position: fixed;
}

.page-top-menu-cont .site-logo-cont {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.page-top-menu-cont .menu-links-cont {
    float: right;
    padding-right: 20px;
}

.page-top-menu-cont .site-logo-cont img {
    height: 40px;
    width: 291px;
}

.page-top-menu-cont .reg-btn {
    font-weight: 500;
    color: #424242;
    border-radius: 50px;
    background-color: white;
}

.page-top-menu-cont .reg-btn:hover {
    color: #e67320;
}

.menu-links-cont-mobi {
    display: none;
    float: right;
}

.menu-links-cont-mobi a {
    cursor: pointer;
}

.menu-links-cont-mobi .drop-menu-icon-cont {
    display: inline-block;
    width: 35px;
    margin-left: 20px;
    vertical-align: middle;
    overflow: hidden;
}

.menu-links-cont-mobi .drop-menu-icon.close {
    height: 25px;
    position: relative;
    right: -1px;
}

.menu-links-cont-mobi .drop-menu-icon.open {
    height: 25px;
    position: relative;
    right: 37px;
}

.page-upper-section {
    position: relative;
    height: 600px;
    width: 100%;
    /*background-image: url('../images/background/about-us-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('../images/background/about-us-1.jpg');
    background-position: 0 0, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

.drop-down-mobi-menu-cont.show {
    display: none;
}

.drop-down-mobi-menu-cont.hide {
    display: none;
}

.drop-down-mobi-menu-cont {
    position: fixed;
    width: 100%;
    height: 380px;
    z-index: 150;
}

.drop-down-mobi-menu-cont ul {
    padding: 130px 20px 0px 20px;
}

.drop-down-mobi-menu-cont .link {
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    font-family: Calibri;
    font-size: 1.2em;
    color: white;
}

/*remove it later*/
.drop-down-mobi-menu-cont .link.active {
    background-color: #656565;
    border-radius: 20px;
}

.page-upper-section .bg-img-cover {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-upper-section-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: inherit;
    left: 50%;
    margin-left: -625px;
}

.headline-cont {
    margin: 0px 20px;
    margin-top: 250px;
    text-align: center;
}

.headline-cont .headline, 
.headline-cont .sub-headline {
    color: white;
    font-weight: 500;
}

.headline-cont .headline {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.headline-cont .sub-headline {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 36px;
    margin-top: 0px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.page-about-us-section {
    padding: 80px 20px;
}

.about-us-video-frame {
    position: relative;
    width: 100%;
    height: 535px;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
}

@media only screen and (max-width: 850px) {
    .about-us-video-frame {
        padding-bottom: 56.25%;
        height: 0;
    }
}

.about-us-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-us-cont {
    max-width: 850px;
    margin: 0 auto;
}

.about-us-cont .caption,
.our-values-cont .caption, 
.research-process-cont .caption, 
.our-team-cont .caption {
    font-size: 2.5em;
    font-weight: 500;
}

.about-us-cont .content {
    text-align: justify;
    font-size: 1.2em;
    line-height: 32px;
}

.page-our-values-section {
    padding: 80px 20px;
    background-color: #1f1f1f;
}

.our-values-cont,
.research-process-cont {
    margin: 0 auto;
}

.our-values-cont .caption,
.research-process-cont .caption {
    text-align: center;
    color: lightgray;
}

.our-values-wrapper .grid-item,
.research-process-wrapper .grid-item {
    padding: 0px 15px 35px 15px;
}

.our-values-wrapper .grid-item .sub-caption,
.research-process-wrapper .grid-item .sub-caption {
    font-size: 1.5em;
    font-weight: 500;
    color: lightgray;
}

.our-values-wrapper .grid-item .content,
.research-process-wrapper .grid-item .content {
    font-size: 1.1em;
    color: lightgray;
    line-height: 27px;
}

.research-process-section {
    padding: 80px 20px;
    background-color: #2b2b2b;
}

.page-our-team-section {
    padding: 80px 20px;
    padding-bottom: 160px;
}

.our-team-cont {
    margin: 0 auto;
}

.our-team-cont .caption {
    text-align: center;
    margin-bottom: 45px;
}

.our-team-wrapper .grid-item {
    padding: 20px 15px;
    text-align: center;
}

.our-team-wrapper .grid-item .profile-pic-cont {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid lightgray;
    overflow: hidden;
    background-color: lightgray;
}

.our-team-wrapper .grid-item .profile-pic-cont img {
    position: relative;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
    transition: top 0.3s, left 0.3s, height 0.3s, width 0.3s;
}

.our-team-wrapper .grid-item .profile-pic-cont img:hover {
    position: relative;
    top: -10px;
    left: -10px;
    height: 170px;
    width: 170px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: top 0.3s, left 0.3s, height 0.3s, width 0.3s;
}

.our-team-wrapper .grid-item .content-cont {
    text-align: left;
}

.our-team-wrapper .grid-item .content-cont .name {
    font-size: 1.4em;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

.our-team-wrapper .grid-item .content-cont .position {
    font-size: 1.1em;
    font-weight: 500;
    color: #969696;
    margin-top: 0px;
}

.our-team-wrapper .grid-item .content-cont .bio {
    font-size: 1.0em;
    line-height: 27px;
    color: #e4e4e4;
}

/*page footer css*/
.page-footer-section {
    background-color: #1f1f1f;
}

.upper-footer-cont {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 70px 20px 50px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.page-footer-section .column-group-1,
.page-footer-section .column-group-2 {
    float: left;
    box-sizing: border-box;
}

.page-footer-section .column-group-1 {
    width: 45%;
}

.page-footer-section .column-group-2 {
    width: 55%;
}

.page-footer-section .column-group-1 .footer-column:nth-child(1) {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding-right: 30px;
}

.page-footer-section .column-group-1 .footer-column:nth-child(2) {
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding-right: 30px;
}

.page-footer-section .column-group-2 .footer-column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 30px;
}

.page-footer-section .column-group-2 .footer-column:last-child {
    padding-right: 0px;
}

.page-footer-section .site-logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.page-footer-section .text-block {
    margin: 0;
    font-size: 1.0em;
    line-height: 26px;
    color: #dadada;
}

.page-footer-section .text-block .text-cont {
    padding-right: 15px;
}

.page-footer-section .text-block .more-link-cont > a {
    text-decoration: underline;
    color: #dadada;
}

.page-footer-section .text-block .more-link-cont > a:hover {
    color: white;
}

.page-footer-section .footer-column .header {
    margin: 0;
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: normal;
    font-weight: 500;
    color: #dadada;
}

.page-footer-section .footer-column .link-list,
.page-footer-section .footer-column .social-media-list-cont {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-footer-section .footer-column .link-list > li {
    font-size: 1.1em;
    color: #dadada;
    margin-bottom: 10px;
    cursor: default;
}

.page-footer-section .footer-column .link-list a {
    text-decoration: none;
    font-size: 1.1em;
    color: #dadada;
}

.page-footer-section .footer-column .link-list a:hover {
    color: white;
}

.page-footer-section .footer-column .list-icon {
    display: table-cell;
    vertical-align: top;
    min-width: 50px;
    max-width: 50px;
}

.page-footer-section .footer-column .list-icon > i {
    font-size: 1.5em;
}

.page-footer-section .footer-column .list-data {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    word-break: break-all;
}

.page-footer-section .footer-column .newsletter-sub-cont {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}

.page-footer-section .footer-column .newsletter-sub-cont .subscription-message {
    position: absolute;
    top: -50px;
    cursor: default;
}

.page-footer-section .footer-column .newsletter-sub-cont .subscription-message .message {
    max-width: 250px;
    min-width: 150px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 0.9em;
    font-weight: 500;
    color: #545454;
    box-shadow: 0px 2px 3px 0px black;
}

.page-footer-section .footer-column .newsletter-sub-cont .subscription-message .pointer {
    position: absolute;
    bottom: -5px;
    left: 20px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: white;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.page-footer-section .footer-column .newsletter-sub-cont .email-input-cont {
    display: table-cell;
    width: 100%;
    padding-right: 10px;
}

.page-footer-section .footer-column .newsletter-sub-cont .sub-button-cont {
    display: table-cell;
    min-width: 100px;
    max-width: 100px;
}

.page-footer-section .footer-column .newsletter-sub-cont .email-input-cont > input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 1.0em;
}

.page-footer-section .footer-column .newsletter-sub-cont .email-input-cont > input:disabled {
    background-color: lightgray;
}

.page-footer-section .footer-column .newsletter-sub-cont .sub-button-cont > button {
    height: 40px;
    width: 100%;
    border: 1px solid white;
    outline: none;
    box-sizing: border-box;
    font-size: 1.0em;
    color: white;
    background: linear-gradient(100deg, #b3b3b3, #4c4c4c);
    cursor: pointer;
}

.page-footer-section .footer-column .newsletter-sub-cont .sub-button-cont > button:hover {
    background: linear-gradient(100deg, #a5a5a5, #404040);
}

.page-footer-section .footer-column .social-media-list-cont > li {
    display: inline-block;
    margin-right: 15px;
}

.page-footer-section .footer-column .social-media-list-cont a {
    color: #dadada;
}

.page-footer-section .footer-column .social-media-list-cont a:hover {
    color: white;
}

.page-footer-section .footer-column .social-media-list-cont .icon {
    font-size: 2.8em;
}

.page-footer-section .page-footer-hl {
    height: 0px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #484848;
}

.page-footer-section .lower-footer-cont {
    width: 100%;
    background-color: #2d2d2d;
}

.page-footer-section .lower-footer-cont .footer-bottom {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.0em;
    color: #dadada;
}

@media only screen and (max-width: 1000px) {
    .page-footer-section .column-group-1,
    .page-footer-section .column-group-2 {
        width: 100%;
    }

    .page-footer-section .column-group-1 {
        margin-bottom: 30px;
    }

    .page-footer-section .column-group-1 .footer-column:nth-child(1),
    .page-footer-section .column-group-1 .footer-column:nth-child(2) {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .page-footer-section .column-group-1 {
        margin-bottom: 0px;
    }

    .page-footer-section .column-group-1 .footer-column:nth-child(1),
    .page-footer-section .column-group-1 .footer-column:nth-child(2),
    .page-footer-section .column-group-2 .footer-column {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
    }
}
/*page footer css end*/

@media only screen and (max-width: 1250px) {
    .page-upper-section-wrapper {
        left: 0px;
        margin-left: 0px;
    }
}

/*switch view to mobile*/
@media only screen and (max-width: 800px) {
    .page-top-menu-cont .site-logo-wrapper {
        width: 40px;
        overflow: hidden;
    }

    .menu-links-cont {
        display: none;
    }

    .menu-links-cont-mobi {
        display: inline-block;
        padding-right: 30px;
    }

    .headline-cont {
        margin-top: 230px;
    }

    .headline-cont .headline {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .headline-cont .sub-headline {
        font-size: 1.3em;
        font-weight: normal;
        line-height: 30px;
        margin-top: 0px;
    }

    .drop-down-mobi-menu-cont.show {
        display: block;
    }

    .about-us-cont .caption, 
    .our-values-cont .caption, 
    .research-process-cont .caption, 
    .our-team-cont .caption {
        font-size: 2.0em;
    }

    .about-us-cont .content {
        text-align: justify;
        font-size: 1.0em;
        line-height: 30px;
    }

    .our-values-wrapper .grid-item, 
    .research-process-wrapper .grid-item, 
    .our-team-wrapper .grid-item {
        width: 100%!important;
    }

    .our-team-wrapper .grid-item .content-cont .bio {
        text-align: justify;
    }
}