.shadow {
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.4);
}

.txt-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.sec-max-width {
    max-width: 1250px;
}

.page-top-menu-cont {
    position: absolute;
    width: 100%;
    z-index: 200;
}

.page-top-menu-wrapper {
    margin: 0 auto;
    overflow: hidden;
}

.page-top-menu-cont.show {
    top: 0px;
    transition: top 0.3s;
}

.page-top-menu-cont.hide {
    top: -90px;
    transition: top 0.2s;
}

.page-top-menu-cont.fixed {
    position: fixed;
}

.page-top-menu-cont .site-logo-cont {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.page-top-menu-cont .menu-links-cont {
    float: right;
    padding-right: 20px;
}

.page-top-menu-cont .site-logo-cont img {
    height: 40px;
    width: 291px;
}

.menu-links-cont-mobi {
    display: none;
    float: right;
}

.menu-links-cont-mobi a {
    cursor: pointer;
}

.menu-links-cont-mobi .drop-menu-icon-cont {
    display: inline-block;
    width: 35px;
    margin-left: 20px;
    vertical-align: middle;
    overflow: hidden;
}

.menu-links-cont-mobi .drop-menu-icon.close {
    height: 25px;
    position: relative;
    right: -1px;
}

.menu-links-cont-mobi .drop-menu-icon.open {
    height: 25px;
    position: relative;
    right: 37px;
}

.page-upper-section {
    position: relative;
    height: 600px;
    width: 100%;
    background-image: url(../images/background/about-us-big.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drop-down-mobi-menu-cont.show {
    display: none;
}

.drop-down-mobi-menu-cont.hide {
    display: none;
}

.drop-down-mobi-menu-cont {
    position: fixed;
    width: 100%;
    height: 380px;
    z-index: 150;
}

.drop-down-mobi-menu-cont ul {
    padding: 130px 20px 0px 20px;
}

.drop-down-mobi-menu-cont .link {
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    font-family: Calibri;
    font-size: 1.2em;
    color: white;
}

/*remove it later*/
.drop-down-mobi-menu-cont .link.active {
    background-color: #6b9cd8;
    border-radius: 20px;
}

.page-upper-section .bg-img-cover {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: rgba(87, 135, 194, 0.2);
    background: linear-gradient(
        90deg, 
        rgba(12, 48, 93, 0.8), 
        rgba(87, 135, 194, 0.2), 
        rgba(87, 135, 194, 0.2), 
        rgba(12, 48, 93, 0.8)
    );
}

.page-upper-section-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: inherit;
    left: 50%;
    margin-left: -625px;
}

.headline-cont {
    margin-top: 250px;
    text-align: center;
}

.headline-cont .headline, 
.headline-cont .sub-headline {
    color: white;
    font-weight: 500;
}

.headline-cont .headline {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.headline-cont .sub-headline {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 36px;
    margin-top: 0px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.page-about-us-section {
    padding: 80px 20px;
}

.about-us-cont {
    max-width: 850px;
    margin: 0 auto;
}

.about-us-cont .caption,
.our-values-cont .caption,
.our-team-cont .caption {
    font-size: 2.5em;
    font-weight: 500;
}

.about-us-cont .content {
    text-align: justify;
    font-size: 1.2em;
    line-height: 32px;
}

.page-our-values-section {
    padding: 80px 20px;
    background-color: #307bbb;
}

.our-values-cont {
    margin: 0 auto;
}

.our-values-cont .caption {
    text-align: center;
    color: white;
}

.our-values-wrapper .grid-item {
    padding: 0px 15px 35px 15px;
}

.our-values-wrapper .grid-item .sub-caption {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

.our-values-wrapper .grid-item .content {
    font-size: 1.1em;
    color: white;
    line-height: 27px;
}

.page-our-team-section {
    padding: 80px 20px;
    padding-bottom: 160px;
}

.our-team-cont {
    margin: 0 auto;
}

.our-team-cont .caption {
    text-align: center;
    margin-bottom: 45px;
}

.our-team-wrapper .grid-item {
    padding: 20px 15px;
    text-align: center;
}

.our-team-wrapper .grid-item .profile-pic-cont {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid lightgray;
    overflow: hidden;
    background-color: lightgray;
}

.our-team-wrapper .grid-item .profile-pic-cont img {
    position: relative;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
    transition: top 0.3s, left 0.3s, height 0.3s, width 0.3s;
}

.our-team-wrapper .grid-item .profile-pic-cont img:hover {
    position: relative;
    top: -10px;
    left: -10px;
    height: 170px;
    width: 170px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: top 0.3s, left 0.3s, height 0.3s, width 0.3s;
}

.our-team-wrapper .grid-item .content-cont {
    text-align: left;
}

.our-team-wrapper .grid-item .content-cont .name {
    font-size: 1.4em;
    font-weight: 500;
    color: #5787c2;
    margin-bottom: 10px;
}

.our-team-wrapper .grid-item .content-cont .position {
    font-size: 1.1em;
    font-weight: 500;
    color: #75a3da;
    margin-top: 0px;
}

.our-team-wrapper .grid-item .content-cont .bio {
    font-size: 1.0em;
    line-height: 27px;
}

.footer-cont {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px 50px 20px;
    box-sizing: border-box;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    display: table-cell;
    width: 25%;
    font-family: Calibri;
    font-size: 1.2em;
    color: white;
}

.footer-col-1 {
    width: 30%;
}

.footer-col-2 {
    width: 20%;
}
.footer-col-3 {
    width: 30%;
}

.footer-col-4 {
    width: 20%;
}

.footer-col-1 h4,
.footer-col-2 h4,
.footer-col-3 h4 {
    margin-bottom: 15px;
}

.site-logo-in-footer {
    margin-top: 20px;
}

.site-logo-in-footer img {
    position: relative;
    top: 10px;
    height: 35px;
    width: 254px;
}

.contact-in-footer,
.phone-in-footer {
    padding: 4px 10px 10px 0;
    font-size: 0.95em;
    color: #e0e0e0;
    cursor: default;
}

.contact-in-footer i,
.phone-in-footer i {
    font-size: 1.4em;
}

.contact-in-footer span,
.phone-in-footer span {
    padding-left: 15px;
}

.footer-col-4 a {
    display: inline-block;
    padding: 10px 20px 10px 0px;
}

.footer-col-4 i.fab {
    font-size: 2.5em;
}

.address-in-footer {
    padding: 4px 10px 20px 0;
    font-size: 0.95em;
    color: #e0e0e0;
    cursor: default;
}

.footer-hr-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #005ebf;
}

.footer-base-cont {
    /*background-color: #506c8d;*/
    padding: 10px 20px 10px 20px;
    font-family: Calibri;
    font-size: 1.0em;
    border-top: 1px solid #6cb5ff;
}

@media only screen and (max-width: 1250px) {
    .page-upper-section-wrapper {
        left: 0px;
        margin-left: 0px;
    }
}

/*switch view to mobile*/
@media only screen and (max-width: 800px) {
    .page-top-menu-cont .site-logo-wrapper {
        width: 40px;
        overflow: hidden;
    }

    .menu-links-cont {
        display: none;
    }

    .menu-links-cont-mobi {
        display: inline-block;
        padding-right: 30px;
    }

    .headline-cont {
        margin-top: 230px;
    }

    .headline-cont .headline {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .headline-cont .sub-headline {
        font-size: 1.3em;
        font-weight: normal;
        line-height: 30px;
        margin-top: 0px;
    }

    .drop-down-mobi-menu-cont.show {
        display: block;
    }

    .about-us-cont .caption, 
    .our-values-cont .caption, 
    .our-team-cont .caption {
        font-size: 2.0em;
    }

    .about-us-cont .content {
        text-align: justify;
        font-size: 1.0em;
        line-height: 30px;
    }

    .our-values-wrapper .grid-item,
    .our-team-wrapper .grid-item {
        width: 100%!important;
    }

    .our-team-wrapper .grid-item .content-cont .bio {
        text-align: justify;
    }

    .footer-cont {
        display: block;
        width: unset;
    }

    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
        display: block;
        width: unset;
    }
    
    .site-logo-in-footer img {
        margin-bottom: 30px;
    }
}