/* custom css for the website should be place here */
.shadow {
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.4);
}

.site-logo-cont {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 30px;
}

.main-menu-cont {
    display: table-cell;
    width: 100%;
    padding-right: 10px;
    vertical-align: middle;
}

.page-cont-max-width {
    max-width: 1250px;
    margin: 0 auto;
}

.page-top-menu-cont {
    position: fixed;
    width: 100%;
    z-index: 100
}

.page-top-menu-cont.show {
    top: 0px;
    transition: top 0.5s;
}

.page-top-menu-cont.hide {
    top: -70px;
    transition: top 0.3s;
}

.page-upper-section {
    position: absolute;
    height: 600px;
    width: 100%;
    background-image: url(../images/background/architecture-blue-building-411595.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #8c8c8c;
    background-blend-mode: multiply;
}

#imageslider-cont {
    position: absolute;
    height: inherit;
    width: inherit;
}

#headline-cont {
    position: relative;
    height: inherit;
    width: 100%;
    z-index: 50;
}

.headline {
    padding: 150px 20px 0 20px;
}

.sub-headline {
    padding: 0 20px 0 20px; max-width: 600px;
}

.sub-headline-txt {
    font-family: Corbel, Calibri, sans-serif;
}

.action-btn-cont {
    padding: 30px 20px 0 20px;
}

.custom-action-btn {
    padding: 6px 40px;
    font-size: 1.2em;
}

#anim-img-indicator {
    position: absolute;
    left: -32px;
    bottom: 10px;
    height: 20px;
    width: 65px;
    margin-left: 50%;
    z-index: 100;
}

#img-ind-0,
#img-ind-1,
#img-ind-2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px 0 2px;
    cursor: pointer;
    border: 1px solid white;
}
