.hide-elem {
    visibility: hidden;
}

.remove-elem {
    display: none;
}

.shadow {
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.4);
}

.txt-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.theme-bg-color {
    background-color: #424242;
}

.theme-txt-color {
    color: #424242;
}

.sec-max-width {
    max-width: 1250px;
}

.page-top-menu-cont {
    position: absolute;
    width: 100%;
    z-index: 200;
}

.page-top-menu-wrapper {
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.page-top-menu-cont.show {
    top: 0px;
    transition: top 0.3s;
}

.page-top-menu-cont.hide {
    top: -90px;
    transition: top 0.2s;
}

.page-top-menu-cont.fixed {
    position: fixed;
}

.page-top-menu-cont .reg-btn {
    font-weight: 500;
    color: #424242;
    border-radius: 50px;
    background-color: white;
}

.page-top-menu-cont .reg-btn:hover {
    color: #e67320;
}

.page-top-menu-cont .site-logo-cont {
    float: left;
    padding-top: 20px;
}

.page-top-menu-cont .menu-links-cont {
    float: right;
}

.page-top-menu-cont .site-logo-cont img {
    height: 40px;
    width: 291px;
}

.menu-links-cont-mobi {
    display: none;
    float: right;
}

.menu-links-cont-mobi a {
    cursor: pointer;
}

.menu-links-cont-mobi .drop-menu-icon-cont {
    display: inline-block;
    width: 35px;
    margin-left: 20px;
    vertical-align: middle;
    overflow: hidden;
}

.menu-links-cont-mobi .drop-menu-icon.close {
    height: 25px;
    position: relative;
    right: -1px;
}

.menu-links-cont-mobi .drop-menu-icon.open {
    height: 25px;
    position: relative;
    right: 37px;
}

.drop-down-mobi-menu-cont.show {
    display: none;
}

.drop-down-mobi-menu-cont.hide {
    display: none;
}

.drop-down-mobi-menu-cont {
    position: fixed;
    width: 100%;
    height: 380px;
    z-index: 150;
}

.drop-down-mobi-menu-cont ul {
    padding: 130px 20px 0px 20px;
}

.drop-down-mobi-menu-cont .link {
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    font-family: Calibri;
    font-size: 1.2em;
    color: white;
}

.drop-down-mobi-menu-cont .link.active {
    background-color: #656565;
    border-radius: 20px;
}

.privacy-policy-section {
    padding-top: 100px;
}

.privacy-policy-section .privacy-policy-cont {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 100px;
    overflow: hidden;
}

.privacy-policy-section .privacy-policy-cont h1,
.privacy-policy-section .privacy-policy-cont h2,
.privacy-policy-section .privacy-policy-cont h3,
.privacy-policy-section .privacy-policy-cont h4,
.privacy-policy-section .privacy-policy-cont h5,
.privacy-policy-section .privacy-policy-cont h6 {
    font-weight: normal;
    font-weight: 500;
}

.privacy-policy-section .privacy-policy-cont p,
.privacy-policy-section .privacy-policy-cont li {
    font-size: 18px;
    line-height: 32px;
}

.privacy-policy-section .privacy-policy-cont a {
    text-decoration: none;
    color: #5787c2;
}

/*page footer css*/
.page-footer-section {
    background-color: #1f1f1f;
}

.upper-footer-cont {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 70px 20px 50px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.page-footer-section .column-group-1,
.page-footer-section .column-group-2 {
    float: left;
    box-sizing: border-box;
}

.page-footer-section .column-group-1 {
    width: 45%;
}

.page-footer-section .column-group-2 {
    width: 55%;
}

.page-footer-section .column-group-1 .footer-column:nth-child(1) {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding-right: 30px;
}

.page-footer-section .column-group-1 .footer-column:nth-child(2) {
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding-right: 30px;
}

.page-footer-section .column-group-2 .footer-column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 30px;
}

.page-footer-section .column-group-2 .footer-column:last-child {
    padding-right: 0px;
}

.page-footer-section .site-logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.page-footer-section .text-block {
    margin: 0;
    font-size: 1.0em;
    line-height: 26px;
    color: #dadada;
}

.page-footer-section .text-block .text-cont {
    padding-right: 15px;
}

.page-footer-section .text-block .more-link-cont > a {
    text-decoration: underline;
    color: #dadada;
}

.page-footer-section .text-block .more-link-cont > a:hover {
    color: white;
}

.page-footer-section .footer-column .header {
    margin: 0;
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: normal;
    font-weight: 500;
    color: #dadada;
}

.page-footer-section .footer-column .link-list,
.page-footer-section .footer-column .social-media-list-cont {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-footer-section .footer-column .link-list > li {
    font-size: 1.1em;
    color: #dadada;
    margin-bottom: 10px;
    cursor: default;
}

.page-footer-section .footer-column .link-list a {
    text-decoration: none;
    font-size: 1.1em;
    color: #dadada;
}

.page-footer-section .footer-column .link-list a:hover {
    color: white;
}

.page-footer-section .footer-column .list-icon {
    display: table-cell;
    vertical-align: top;
    min-width: 50px;
    max-width: 50px;
}

.page-footer-section .footer-column .list-icon > i {
    font-size: 1.5em;
}

.page-footer-section .footer-column .list-data {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.page-footer-section .footer-column .newsletter-sub-cont {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}

.page-footer-section .footer-column .newsletter-sub-cont .subscription-message {
    position: absolute;
    top: -50px;
    cursor: default;
}

.page-footer-section .footer-column .newsletter-sub-cont .subscription-message .message {
    max-width: 250px;
    min-width: 150px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 0.9em;
    font-weight: 500;
    color: #545454;
    box-shadow: 0px 2px 3px 0px black;
}

.page-footer-section .footer-column .newsletter-sub-cont .subscription-message .pointer {
    position: absolute;
    bottom: -5px;
    left: 20px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: white;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.page-footer-section .footer-column .newsletter-sub-cont .email-input-cont {
    display: table-cell;
    width: 100%;
    padding-right: 10px;
}

.page-footer-section .footer-column .newsletter-sub-cont .sub-button-cont {
    display: table-cell;
    min-width: 100px;
    max-width: 100px;
}

.page-footer-section .footer-column .newsletter-sub-cont .email-input-cont > input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 1.0em;
}

.page-footer-section .footer-column .newsletter-sub-cont .email-input-cont > input:disabled {
    background-color: lightgray;
}

.page-footer-section .footer-column .newsletter-sub-cont .sub-button-cont > button {
    height: 40px;
    width: 100%;
    border: 1px solid white;
    outline: none;
    box-sizing: border-box;
    font-size: 1.0em;
    color: white;
    background: linear-gradient(100deg, #b3b3b3, #4c4c4c);
    cursor: pointer;
}

.page-footer-section .footer-column .newsletter-sub-cont .sub-button-cont > button:hover {
    background: linear-gradient(100deg, #a5a5a5, #404040);
}

.page-footer-section .footer-column .social-media-list-cont > li {
    display: inline-block;
    margin-right: 15px;
}

.page-footer-section .footer-column .social-media-list-cont a {
    color: #dadada;
}

.page-footer-section .footer-column .social-media-list-cont a:hover {
    color: white;
}

.page-footer-section .footer-column .social-media-list-cont .icon {
    font-size: 2.8em;
}

.page-footer-section .page-footer-hl {
    height: 0px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #484848;
}

.page-footer-section .lower-footer-cont {
    width: 100%;
    background-color: #2d2d2d;
}

.page-footer-section .lower-footer-cont .footer-bottom {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.0em;
    color: #dadada;
}

@media only screen and (max-width: 1000px) {
    .page-footer-section .column-group-1,
    .page-footer-section .column-group-2 {
        width: 100%;
    }

    .page-footer-section .column-group-1 {
        margin-bottom: 30px;
    }

    .page-footer-section .column-group-1 .footer-column:nth-child(1),
    .page-footer-section .column-group-1 .footer-column:nth-child(2) {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .page-footer-section .column-group-1 {
        margin-bottom: 0px;
    }

    .page-footer-section .column-group-1 .footer-column:nth-child(1),
    .page-footer-section .column-group-1 .footer-column:nth-child(2),
    .page-footer-section .column-group-2 .footer-column {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
    }
}
/*page footer css end*/

/*switch view to mobile*/
@media only screen and (max-width: 800px) {
    .page-top-menu-cont .site-logo-wrapper {
        width: 40px;
        overflow: hidden;
    }

    .menu-links-cont {
        display: none;
    }

    .menu-links-cont-mobi {
        display: inline-block;
    }

    .drop-down-mobi-menu-cont.show {
        display: block;
    }

    .page-upper-section {
        min-height: 500px;
    }

    .page-upper-section .bg-img {
        top: 80px;
        right: 10px;
    }

    .page-upper-section .headline {
        margin-top: 140px;
    }

    .page-upper-section .headline, 
    .page-upper-section .sub-headline {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }

    .page-upper-section .sub-headline > .txt {
        display: inline;
    }
}