/*Register css*/

.shadow {
    box-shadow: 0px 1px 8px 2px gray;
}

.signup-cont {
    display: table;
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin-top: 5%;
    background-color: white;
}

.signup-cont .left-section-cont {
    position: relative;
    display: table-cell;
    min-width: 300px;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

.signup-cont .left-section-cont .bg-pattern-wrapper {
    position: absolute;
    z-index: 50;
}

.signup-cont .left-section-cont .bg-pattern-wrapper .bg-circle-1 {
    position: relative;
    top: 120px;
    left: 80px;
    width: 60px;
    height: 60px;
    background-color: rgb(32, 140, 227);
}

.signup-cont .left-section-cont .bg-pattern-wrapper .bg-circle-2 {
    position: relative;
    top: 160px;
    left: 140px;
    width: 110px;
    height: 110px;
    background-color: rgb(51, 152, 234);
}

.signup-cont .left-section-cont .bg-pattern-wrapper .bg-circle-3 {
    position: relative;
    top: 150px;
    left: -110px;
    width: 300px;
    height: 300px;
    background-color: rgb(63, 160, 239);
}

.signup-cont .left-section-cont .bg-image {
    position: absolute;
    top: 90px;
    left: 70px;
    width: 164px;
    height: 300px;
    background-image: url(../images/background/isometric-bg-img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 70;
}

.signup-cont .left-section-cont .text-layer {
    position: absolute;
    height: 100%;
    z-index: 100;
}

.signup-cont .left-section-cont .site-logo-cont {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.5em;
    color: white;
}

.signup-cont .left-section-cont .headline-cont {
    padding: 0 20px;
}

.signup-cont .left-section-cont .headline-cont p {
    text-align: left;
    font-family: Calibri;
    font-size: 1.0em;
    color: white;
    font-weight: lighter;
}

.signup-cont .left-section-cont .copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 0.8em;
    font-weight: lighter;
    color: white;
    margin-bottom: 20px;
}

.signup-cont .form-cont {
    display: table-cell;
    width: 100%;
    overflow: hidden;
}

.left-section-cont {
    background: rgb(0, 120, 215);
    background: -webkit-linear-gradient(150deg, rgb(0, 120, 215), rgb(65, 161, 240)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(150deg, rgb(0, 120, 215), rgb(65, 161, 240)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(150deg, rgb(0, 120, 215), rgb(65, 161, 240)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(150deg, rgb(0, 120, 215), rgb(65, 161, 240)); /* Standard syntax */
}

.signup-cont .form-cont .form-slide-wrapper {
    position: relative;
    left: 0px;
    width: 300%;
}

.signup-cont .form-cont .form-slide-wrapper .form-1,
.signup-cont .form-cont .form-slide-wrapper .form-2,
.signup-cont .form-cont .form-slide-wrapper .form-3 {
    float: left;
    width: 33.3%;
    padding-left: 40px; 
    padding-right: 40px;
    box-sizing: border-box;
}

.signup-cont .form-cont .form-slide-wrapper .form-header-title {
    text-align: center;
    font-family: Calibri;
    font-size: 1.3em;
    font-weight: normal;
    color: #037ad8;
    margin-top: 40px;
}

input[type=text] {
    width: 100%;
    padding-left: 10px;
    font-family: Calibri;
    font-size: 1.2em;
    color: darkslategray;
}

input.hr-line-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #037ad8;
}

.firstname-input-wrapper {
    display: table-cell;
    padding-right: 12px;
}

.lastname-input-wrapper {
    display: table-cell;
    padding-left: 12px;
}

.firstname-input-wrapper > label,
.lastname-input-wrapper > label {
    position: relative;
    top: 18px;
    padding-left: 10px;
    font-family: Calibri;
    font-size: 1.0em;
}

.firstname-input-wrapper.lb-normal-color > label,
.lastname-input-wrapper.lb-normal-color > label {
    color: #037ad8;
}