/*Register css*/

 /********custom wait animation********/
 .vt-bars-anim-cont {
     display: table;
     padding-top: 8px;
     padding-left: 6px;
 }

 .vt-bars-anim-cont .vt-bar-cont {
     display: table-cell;
     vertical-align: middle;
     width: 4px;
     height: 16px;
     padding-left: 1px;
     padding-right: 1px;
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-1,
 .vt-bars-anim-cont .vt-bar-cont .vt-bar-2,
 .vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
     width: 100%;
     height: 10px;
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-1 {
     -webkit-animation: expand-1 0.8s linear infinite;
     animation: expand-1 0.8s linear infinite;
 }

  @-webkit-keyframes expand-1 {
    0% { height: 16px; background-color: white;}
    33% { height: 16px; background-color: white;}
    34% { height: 10px; background-color: #d0d0d0;}
    100% { height: 10px; background-color: #d0d0d0;}
  }
  @keyframes expand-1 {
    0% { height: 16px; background-color: white;}
    33% { height: 16px; background-color: white;}
    34% { height: 10px; background-color: #d0d0d0;}
    100% { height: 10px; background-color: #d0d0d0;}
  }

  .vt-bars-anim-cont .vt-bar-cont .vt-bar-2 {
    -webkit-animation: expand-2 0.8s linear infinite;
    animation: expand-2 0.8s linear infinite;
  }

  @-webkit-keyframes expand-2 {
    0% { height: 10px; background-color: #d0d0d0; }
    33% { height: 10px; background-color: #d0d0d0; }
    34% { height: 16px; background-color: white; }
    66% { height: 16px; background-color: white; }
    67% { height: 10px; background-color: #d0d0d0; }
    100% { height: 10px; background-color: #d0d0d0; }
  }
  @keyframes expand-2 {
    0% { height: 10px; background-color: #d0d0d0;}
    33% { height: 10px; background-color: #d0d0d0;}
    34% { height: 16px; background-color: white; }
    66% { height: 16px; background-color: white; }
    67% { height: 10px; background-color: #d0d0d0; }
    100% { height: 10px; background-color: #d0d0d0; }
  }

  .vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
    -webkit-animation: expand-3 0.8s linear infinite;
    animation: expand-3 0.8s linear infinite;
  }

  @-webkit-keyframes expand-3 {
    0% { height: 10px; background-color: #d0d0d0; }
    66% { height: 10px; background-color: #d0d0d0; }
    67% { height: 16px; background-color: white; }
    100% { height: 16px; background-color: white; }
  }
  @keyframes expand-3 {
    0% { height: 10px; background-color: #d0d0d0; }
    66% { height: 10px; background-color: #d0d0d0; }
    67% { height: 16px; background-color: white; }
    100% { height: 16px; background-color: white; }
  }

.shadow {
    box-shadow: 0px 1px 8px 2px gray;
}

.hide-elem {
    visibility: hidden;
}

.remove-elem {
    display: none;
}

.header-site-logo-cont {
    display: none;
    text-align: center;
    margin-top: 35px;
}

.header-site-logo-cont img {
    height: 45px;
    width: 327px;
}

.signup-cont {
    display: table;
    width: 100%;
    max-width: 780px;
    min-width: 330px;
    height: 550px;
    margin-top: 5%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 8px 2px grey;
}

.signup-cont .left-section-cont {
    position: relative;
    display: table-cell;
    vertical-align: top;
    min-width: 340px;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

.signup-cont .left-section-cont .bg-pattern-wrapper {
    position: absolute;
    height: 100%;
    z-index: 50;
}

.signup-cont .left-section-cont .bg-pattern-wrapper .bg-circle-1 {
    position: relative;
    top: 120px;
    left: 80px;
    width: 60px;
    height: 60px;
    background-color: #424242;
}

.signup-cont .left-section-cont .bg-pattern-wrapper .bg-circle-2 {
    position: relative;
    top: 160px;
    left: 140px;
    width: 110px;
    height: 110px;
    background-color: #4c4c4c;
}

.signup-cont .left-section-cont .bg-pattern-wrapper .bg-circle-3 {
    position: relative;
    top: 150px;
    left: -110px;
    width: 300px;
    height: 300px;
    background-color: #505050;
}

.signup-cont .left-section-cont .text-layer {
    position: absolute;
    height: 100%;
    z-index: 100;
}

.signup-cont .left-section-cont .site-logo-cont {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 1.5em;
    color: white;
}

.signup-cont .left-section-cont .site-logo-cont img {
    height: 40px;
    width: 291px;
}

.signup-cont .left-section-cont .headline-cont {
    padding: 0 20px;
}

.signup-cont .left-section-cont .headline-cont p {
    text-align: left;
    font-family: Calibri;
    font-size: 1.2em;
    color: white;
}

.signup-cont .left-section-cont .copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.0em;
    color: white;
    margin-bottom: 20px;
}

.signup-cont .form-cont {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding: 0px 30px 40px 30px;
    overflow: hidden;
    background-color: #777777;
}

.left-section-cont {
    background: #424242;
    background: linear-gradient(150deg, #424242, #696969);
}

.form-header-title {
    text-align: center;
    font-family: Calibri;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    margin-top: 40px;
}

#err-msg-box {
    position: absolute;
    width: 100%;
    max-width: 260px;
    min-height: 45px;
    border-radius: 6px;
    background-color: #585858;
    box-shadow: 1px 3px 4px 0px #3c3c3c;
    z-index: 200;
}

#err-msg-box .close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

#err-msg-box .close-btn > span {
    font-size: 1.2em;
    color: white;
    padding-top: 2px;
}

#err-msg-box.left-pointer .pointer {
    left: 30px;
}

#err-msg-box.right-pointer .pointer {
    right: 30px;
}

#err-msg-box .pointer {
    position: absolute;
    top: -8px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: #585858;
}

#err-msg-box .msg {
    padding: 10px;
    padding-right: 25px;
    font-family: Calibri;
    color: white;
}

.form-navi-btn.hr-pos {
    right: 40px;
    opacity: 1;
}

.form-navi-btn.hide-hr-pos {
    right: 500px;
    opacity: 0;
    transition: right 0.5s, opacity 0.5s;
    -webkit-transition: right 0.5s, opacity 0.5s;
}

input[type=text],
input[type=email],
input[type=password],
select {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-left: 8px;
    font-family: Calibri;
    font-size: 1.2em;
    color: #c5c5c5;
    background-color: #777777;
}

.hr-line-input {
    border: none;
    outline: none;
    border-bottom: 2px solid #9a9a9a;
}

.err-hr-line-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #a52d2d;
}

.robot-input-cont {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.input-cont {
    margin-bottom: 10px;
}

.input-icon-cont {
    position: relative;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: -30px;
    top: -2px;
    right: 32px;
    margin-left: 100%;
}

#email-input, #birthday-input {
    padding-right: 35px;
}

.email-input-wrapper .input-icon-cont .fa-question-circle {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 1.4em;
    color: #037ad8;
}

.birthday-input-wrapper .input-icon-cont .fa-calendar-alt {
    float: right;
    margin-top: 5px;
    margin-right: 7px;
    font-size: 1.3em;
    color: #037ad8;
}

.firstname-input-wrapper,
.countrycode-input-wrapper,
.birthday-input-wrapper {
    display: table-cell;
    padding-right: 10px;
}

.lastname-input-wrapper,
.phonenumber-input-wrapper,
.gender-input-wrapper {
    display: table-cell;
    padding-left: 10px;
}

.countrycode-input-wrapper {
    width: 40%;
}

.phonenumber-input-wrapper {
    width: 70%;
}

.email-input-wrapper .reload-btn-cont > span,
.username-input-wrapper .reload-btn-cont > span,
.referralid-input-wrapper .reload-btn-cont > span {
    font-size: 1.2em;
    color: white;
    padding-top: 6px;
    padding-left: 4px;
    cursor: pointer;
}

.birthday-input-wrapper {
    width: 60%;
}

.gender-input-wrapper {
    width: 40%;
}

.password-input-wrapper .showpasswd-btn-cont > span {
    font-size: 1.2em;
    padding-top: 6px;
    padding-left: 4px;
    cursor: pointer;
}

.password-input-wrapper .showpasswd-btn-cont.hide > span {
    color: #bbbbbb;
}

.password-input-wrapper .showpasswd-btn-cont.show > span {
    color: white;
}

.passwd-strength-indicator-cont {
    display: table;
    width: 100%;
    margin-top: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.passwd-strength-indicator-cont .ind-wrapper {
    display: table-cell;
    vertical-align: middle;
    /*width: 20%;*/
}

.passwd-strength-indicator-cont .txt-ind-wrapper {
    display: table-cell;
    width: 35%;
    vertical-align: middle;
    text-align: center;
}

.passwd-strength-indicator-cont .txt-ind-wrapper > span {
    position: relative;
    top: -3px;
    font-size: 0.90em;
    color: #949494;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator {
    height: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
    background-color: lightgray;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-1 {
    background-color: #ff2a2a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-2 {
    background-color: #ff762a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-3 {
    background-color: #a6ff2a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-4 {
    background-color: #2aff42!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .txt-ind-wrapper > span {
    color: white;
}

.firstname-input-wrapper > label,
.lastname-input-wrapper > label,
.country-input-wrapper > label,
.countrycode-input-wrapper > label,
.phonenumber-input-wrapper > label,
.email-input-wrapper > label,
.birthday-input-wrapper > label,
.gender-input-wrapper > label,
.username-input-wrapper > label,
.password-input-wrapper > label,
.confirmpasswd-input-wrapper > label,
.referralid-input-wrapper > label {
    position: relative;
    top: 24px;
    right: 0px;
    padding-left: 8px;
    font-family: Calibri;
    font-size: 1.1em;
    transition: top 0.2s ease-out, right 0.2s ease-out;
}

label.push-up {
    top: 0px;
    right: 8px;
    transition: top 0.2s ease-out, right 0.2s ease-out;
}

.firstname-input-wrapper.lb-normal-color > label,
.lastname-input-wrapper.lb-normal-color > label,
.country-input-wrapper.lb-normal-color > label,
.countrycode-input-wrapper.lb-normal-color > label,
.phonenumber-input-wrapper.lb-normal-color > label,
.email-input-wrapper.lb-normal-color > label,
.birthday-input-wrapper.lb-normal-color > label,
.gender-input-wrapper.lb-normal-color > label,
.username-input-wrapper.lb-normal-color > label,
.password-input-wrapper.lb-normal-color > label,
.confirmpasswd-input-wrapper.lb-normal-color > label,
.referralid-input-wrapper.lb-normal-color > label {
    color: white;
}

#email-input:disabled,
#username-input:disabled,
#referralid-input:disabled {
    background-color: unset;
    color: rgb(136, 136, 136);
}

.f-upload-h {
    margin-bottom: 15px;
    text-align: justify;
    font-family: Calibri;
    font-size: 0.95em;
    font-weight: normal;
    color: #3197ea;
}

#f-upload-input,
#acceptterms-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#f-upload-input + label {
    display: inline-block;
    padding: 7px 25px;
    border-radius: 5px;
    font-family: Calibri;
    font-size: 1.2em;
    color: white;
    cursor: default;
    background: rgb(0, 120, 215);
    background: -webkit-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: -o-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: -moz-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
}

#f-upload-msg {
    display: table;
    width: 100%;
    min-height: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#f-upload-msg.error {
    background-color: rgba(255, 210, 146, 0.5);
}

#f-upload-msg.no-error {
    background-color: rgba(146, 255, 178, 0.5);
}

#f-upload-msg.error .bar {
    display: table-cell;
    min-width: 4px;
    background-color: rgba(253, 62, 62, 0.5);
}

#f-upload-msg.no-error .bar {
    display: table-cell;
    min-width: 4px;
    background-color: rgba(51, 234, 72, 0.5);
}

#f-upload-msg .msg {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 0.95em;
}

.acceppterms-cont {
    display: table;
    width: 100%;
    margin-top: 30px;
}

.acceppterms-cont .item-1 {
    display: table-cell;
    min-width: 40px;
}

.acceppterms-cont .item-2 {
    display: table-cell;
    vertical-align: top;
}

.acceppterms-cont .item-2 > p {
    padding: 0px;
    margin: 0px;
    font-family: Calibri;
    font-size: 1.1em;
    color: white;
}

label[for=acceptterms-input] {
    display: inline-block;
    width: 20px;
    height: 19px;
    cursor: pointer;
    overflow: hidden;
}

label[for=acceptterms-input] > img {
    position: relative;
    height: 18px;
    width: 39px;
}

#acceptterms-input:checked + .acceppterms-cont .item-1 label > img {
    right: 20px;
}

#acceptterms-input:checked ~ .reg-btn-cont .reg-btn:hover {
    box-shadow: 0px 2px 4px 1px gray;
    background: linear-gradient(120deg, rgb(76, 76, 76), rgb(45, 45, 45));
}

.acceppterms-cont .terms-link {
    color: white;
}

.reg-btn-cont {
    margin-top: 50px;
    text-align: center;
}

.reg-btn {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 7px 50px;
    border-radius: 30px;
    font-family: Calibri;
    font-size: 1.2em;
    color: white;
    cursor: default;
    background: rgb(88, 88, 88);
    background: linear-gradient(120deg, rgb(88, 88, 88), rgb(53, 53, 53));
}

.csrf-input-cont {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

.footer-copyright {
    display: none;
    text-align: center;
    margin-top: 160px;
    font-size: 1.0em;
    padding: 10px 0px;
    background-color: #e4e4e4;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: #777777;
    }

    .signup-cont {
        box-shadow: unset;
        margin-top: unset;
        margin-bottom: unset;
    }

    .signup-cont .left-section-cont {
        display: none;
    }

    .signup-cont .form-cont {
        padding: 0px 15px;
    }

    .footer-copyright {
        display: block;
    }

    .header-site-logo-cont {
        display: block;
    }
}