body {
    background-color: #5a5a5a;
}

.hide-elem {
    visibility: hidden;
}

.remove-elem {
    display: none;
}

.vt-bars-anim-cont {
    display: table;
    width: 24px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.vt-bars-anim-cont .vt-bar-cont {
    display: table-cell;
    vertical-align: middle;
    width: 4px;
    height: 20px;
    padding-left: 1px;
    padding-right: 1px;
}

.vt-bars-anim-cont .vt-bar-cont .vt-bar-1,
.vt-bars-anim-cont .vt-bar-cont .vt-bar-2,
.vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
    width: 100%;
    height: 15px;
}

.vt-bars-anim-cont .vt-bar-cont .vt-bar-1 {
    -webkit-animation: expand-1 0.8s linear infinite;
    animation: expand-1 0.8s linear infinite;
}

 @-webkit-keyframes expand-1 {
   0% { height: 22px; background-color: white;}
   33% { height: 22px; background-color: white;}
   34% { height: 15px; background-color: #d2d2d2;}
   100% { height: 15px; background-color: #d2d2d2;}
 }
 @keyframes expand-1 {
   0% { height: 22px; background-color: white;}
   33% { height: 22px; background-color: white;}
   34% { height: 15px; background-color: #d2d2d2;}
   100% { height: 15px; background-color: #d2d2d2;}
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-2 {
   -webkit-animation: expand-2 0.8s linear infinite;
   animation: expand-2 0.8s linear infinite;
 }

 @-webkit-keyframes expand-2 {
   0% { height: 15px; background-color: #d2d2d2; }
   33% { height: 15px; background-color: #d2d2d2; }
   34% { height: 22px; background-color: white; }
   66% { height: 22px; background-color: white; }
   67% { height: 15px; background-color: #d2d2d2; }
   100% { height: 15px; background-color: #d2d2d2; }
 }
 @keyframes expand-2 {
   0% { height: 15px; background-color: #d2d2d2;}
   33% { height: 15px; background-color: #d2d2d2;}
   34% { height: 22px; background-color: white; }
   66% { height: 22px; background-color: white; }
   67% { height: 15px; background-color: #d2d2d2; }
   100% { height: 15px; background-color: #d2d2d2; }
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
   -webkit-animation: expand-3 0.8s linear infinite;
   animation: expand-3 0.8s linear infinite;
 }

 @-webkit-keyframes expand-3 {
   0% { height: 15px; background-color: #d2d2d2; }
   66% { height: 15px; background-color: #d2d2d2; }
   67% { height: 22px; background-color: white; }
   100% { height: 22px; background-color: white; }
 }
 @keyframes expand-3 {
   0% { height: 15px; background-color: #d2d2d2; }
   66% { height: 15px; background-color: #d2d2d2; }
   67% { height: 22px; background-color: white; }
   100% { height: 22px; background-color: white; }
 }

.page-cont-max-width {
    max-width: 1250px;
    margin: 0px auto;
}

.page-top-menu-cont {
    overflow: hidden;
}

.recover-account-page {
    margin-top: 5%;
    padding: 15px;
}

.site-logo-cont {
    width: 61px;
    height: 61px;
    margin: 0 auto;
    margin-bottom: 40px;
    overflow: hidden;
}

.site-logo-cont img {
    height: 60px;
    width: 436px;
}

.page-top-menu-cont .menu-links-cont {
    float: right;
    margin-right: 20px;
}

.page-top-menu-cont .menu-links-cont > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.page-top-menu-cont .menu-links-cont > ul > li {
    display: inline-block;
    padding: 20px 10px;
}

.page-top-menu-cont .menu-links-cont > ul > li > a {
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 500;
    color: #c3c3c3;;
}

.page-top-menu-cont .menu-links-cont > ul > li > a:hover {
    color: white;
}

.recover-account-header {
    text-align: center;
    color: white;
    font-weight: normal;
    margin-bottom: 50px;
}

.recover-form-cont {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

#err-msg-box {
    position: relative;
    top: -17px;
    width: 100%;
    margin-bottom: -25px;
    min-height: 45px;
    border-radius: 6px;
    background-color: #dc5628;
    box-shadow: 1px 3px 4px 1px #4c4c4c;
    z-index: 200;
}

#err-msg-box .pointer {
    position: absolute;
    top: -6px;
    left: 30px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: #dc5628;
}

#err-msg-box .close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

#err-msg-box .close-btn > span {
    font-size: 1.2em;
    color: white;
    padding-top: 2px;
}

#err-msg-box .msg {
    padding: 12px;
    padding-right: 25px;
    font-family: Calibri;
    font-size: 1.1em;
    color: white;
}

.csrf-input-cont {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

input[type=text], 
input[type=password] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: Calibri;
    font-size: 1.4em;
    color: #6f6f6f;
}

input[type=text], 
input[type=password] {
    background-color: unset;
    color: rgb(187, 187, 187);
}

.hr-line-input {
    border: none;
    outline: none;
    border-bottom: 2px solid #a5a5a5;
}

.err-hr-line-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #963030;
}

.email-input-cont {
    margin-bottom: 20px;
}

.submit-btn-cont, 
.cpswd-submit-btn-cont, 
.confirm-password-input-cont {
    margin-bottom: 40px;
}

.cpswd-submit-btn-cont {
    padding: 5px;
}

.password-input-cont {
    margin-bottom: 15px;
}

.email-input-cont > label, 
.password-input-cont > label, 
.confirm-password-input-cont > label {
    position: relative;
    top: 33px;
    right: 0px;
    padding-left: 8px;
    font-family: Calibri;
    font-size: 1.3em;
    color: white;
    transition: top 0.2s ease-out, right 0.2s ease-out;
}

.email-input-cont > label.push-up, 
.password-input-cont > label.push-up, 
.confirm-password-input-cont > label.push-up {
    top: 0px;
    right: 8px;
    transition: top 0.2s ease-out, right 0.2s ease-out;
}

#settings-show-passwd-cont {
    position: absolute;
    right: 4px;
    width: 30px;
    height: 30px;
    margin-top: -35px;
}

#settings-show-passwd-cont > i {
    font-size: 1.2em;
    padding-top: 6px;
    padding-left: 4px;
    cursor: pointer;
}

#settings-show-passwd-cont.hide > i {
    color: #9da0a2;
}

#settings-show-passwd-cont.show > i {
    color: white;
}

#password-match-icon-cont {
    position: absolute;
    text-align: center;
    right: 4px;
    width: 30px;
    height: 30px;
    margin-top: -35px;
    font-size: 1.2em;
    padding-top: 4px;
    cursor: default;
    color: white;
}

.passwd-strength-indicator-cont {
    display: table;
    width: 100%;
    margin-top: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.passwd-strength-indicator-cont .ind-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator {
    height: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
    background-color: lightgray;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-1 {
    background-color: #ff2a2a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-2 {
    background-color: #ff762a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-3 {
    background-color: #a6ff2a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-4 {
    background-color: #2aff42!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .txt-ind-wrapper {
    display: table-cell;
    width: 35%;
    vertical-align: middle;
    text-align: center;
}

.passwd-strength-indicator-cont .txt-ind-wrapper > span {
    position: relative;
    top: -3px;
    font-size: 1.0em;
    color: #3c9eee;
}

input[type=submit] {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 8px;
    font-size: 1.1em;
    color: white;
    cursor: default;
    background: rgb(70, 70, 70);
    background: linear-gradient(120deg, rgb(70, 70, 70), rgb(56, 56, 56));
}

input[type=submit]:hover {
    box-shadow: 0px 2px 4px 1px rgb(35, 35, 35);
}

input[type=submit]:disabled:hover {
    box-shadow: unset!important;
}

.cpswd-submit-btn-wrapper {
    float: right;
    width: 130px;
}

.recover-account-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: Calibri;
    font-size: 1.1em;
    padding: 15px 0px;
    color: white;
}

@media only screen and (max-width: 800px) {
    .page-top-menu-cont {
        display: none;
    }

    .site-logo-wrapper {
        width: 50px;
        overflow: hidden;
    }
}