/*
 * UdaraX CSS is a simple css framework for building colorfull, 
 * beautifull, responsive, and dynamic website.
 *
 * Author: Attamah Celestine .C.
 * Date: __/__/____
 *
 */

 /*********default**********/
 body {
   padding: 0px;
   margin: 0px;
   overflow-x: hidden;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #4c4e50;
 }

 /*********color palette********/
 .ux-txt-white {
   color: white;
 }

 .ux-txt-white.txt-hover:hover {
   color: lightgray;
 }

 .ux-bg-white {
   background-color: white;
 }

 .ux-txt-smokewhite {
   color: #e0e0e0;
 }

 .ux-txt-lightgray {
   color: lightgray;
 }

 .ux-bg-lightgray {
   background-color: lightgray;
 }

 .ux-txt-smokewhite.txt-hover:hover {
   color: white;
 }

 .ux-bg-dimgray {
   background-color: rgb(80, 80, 80);
 }

 .ux-bg-dimgray.bg-hover:hover {
   background-color: dimgray;
 }

 .ux-txt-chocolate {
   color: chocolate;
 }

 .ux-txt-chocolate.txt-hover:hover {
   color: rgb(230, 115, 32);
 }

 .ux-bg-chocolate {
   background-color: chocolate;
 }

 .ux-bg-chocolate.bg-hover:hover {
   background-color: rgb(230, 115, 32);
 }

 .ux-bg-red {
     background-color: red;
 }

 .ux-bg-red.bg-hover:hover {
     background-color: rgb(230, 0, 0);
 }

 .ux-txt-red {
     color: red;
 }

 .ux-txt-red.txt-hover:hover {
     color: rgb(230, 0, 0);
 }


 .ux-bg-amber {
    background-color: rgb(255, 193, 7);
 }

 .ux-bg-amber.bg-hover:hover {
    background-color: rgb(233, 175, 1);
 }

 .ux-txt-grayblue {
   color: #5787c2;
 }

 .ux-txt-grayblue.txt-hover:hover {
   color: #698fbe;
 }

 .ux-bg-grayblue {
   background-color: #5787c2;
 }

 .ux-bg-grayblue.bg-hover:hover {
   background-color: #698fbe;
 }

 /*********color transition hover effect*********/
 .ux-bg-red-hover:hover {
     background-color: red;
     transition: background-color 0.5s;
 }

 .ux-bg-amber-hover:hover {
    background-color: rgb(255, 193, 7);
    transition: background-color 0.5s;
 }

 /*********element opacity*********/
 .ux-opacity-1 {
     opacity: 0.2;
 }

 .ux-opacity-2 {
    opacity: 0.4;
 }

 .ux-opacity-3 {
    opacity: 0.6;
 }

 .ux-opacity-4 {
    opacity: 0.8;
 }

 /*********font format**********/
.ux-fs-px-1 {
  font-size: 0.0625em;
}

.ux-fs-px-2 {
  font-size: 0.125em;
}

 .ux-fs-px-3 {
  font-size: 0.1875em;
}

.ux-fs-px-4 {
  font-size: 0.25em;
}

.ux-fs-px-5 {
  font-size: 0.3125em;
}

.ux-fs-px-6 {
  font-size: 0.375em;
}

.ux-fs-px-7 {
  font-size: 0.4375em;
}

.ux-fs-px-8 {
  font-size: 0.5em;
}

.ux-fs-px-9 {
  font-size: 0.5625em;
}

.ux-fs-px-10 {
  font-size: 0.625em;
}

.ux-fs-px-11 {
  font-size: 0.6875em;
}

.ux-fs-px-12 {
  font-size: 0.75em;
}

.ux-fs-px-13 {
  font-size: 0.8125em;
}

.ux-fs-px-14 {
  font-size: 0.875em;
}

.ux-fs-px-15 {
  font-size: 0.9375em;
}

.ux-fs-px-16 {
  font-size: 1.0em;
}

.ux-fs-px-17 {
  font-size: 1.0625em;
}

.ux-fs-px-18 {
  font-size: 1.125em;
}

.ux-fs-px-19 {
  font-size: 1.1875em;
}

.ux-fs-px-20 {
  font-size: 1.25em;
}

.ux-fs-px-21 {
  font-size: 1.3125em;
}

.ux-fs-px-22 {
  font-size: 1.375em;
}

.ux-fs-px-23 {
  font-size: 1.4375em;
}

.ux-fs-px-24 {
  font-size: 1.5em;
}

 /*********rounded corner**********/
 .ux-rd-corner-1 {
     border-radius: 4px;
 }

 .ux-rd-corner-2 {
    border-radius: 8px;
 }

 .ux-rd-corner-3 {
    border-radius: 12px;
 }

 .ux-rd-corner-4 {
    border-radius: 16px;
 }

 .ux-h-rd-corner {
    border-radius: 25%;
 }

 .ux-f-rd-corner {
    border-radius: 50%;
 }

 /*********button*********/
 .ux-btn {
    display: inline-block;
    text-align: center;
    width: fit-content;
    padding: 5px 15px;
    font-size: 1.0em;
    text-decoration: none;
    box-sizing: border-box;
    cursor: default;
 }

 .ux-btn.small {
   font-size: 0.9em;
   padding: 4px 8px;
 }

 .ux-btn.medium {
   font-size: 1.2em;
   padding: 6px 12px;
 }

 .ux-btn.large {
   font-size: 1.5em;
   padding: 8px 16px;
 }

 .ux-btn.x-large {
   font-size: 2.0em;
   padding: 10px 20px;
 }

 .ux-btn.shadow {
   box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
 }

 .ux-btn.ux-bg-red.grad-silk {
   background: linear-gradient(rgb(252, 118, 118), red);
 }

 .ux-btn.grad-silk.ux-bg-red-hover:hover {
    background: linear-gradient(rgb(252, 118, 118), red);
 }

 .ux-btn.ux-bg-red.grad-silk.bg-hover:hover {
   background: linear-gradient(rgb(255, 104, 104), rgb(230, 0, 0));
 }

 .ux-btn.ux-bg-red.grad-smooth {
   background: linear-gradient(rgb(252, 118, 118), rgb(252, 118, 118), red);
 }

 .ux-btn.grad-smooth.ux-bg-red-hover:hover {
   background: linear-gradient(rgb(252, 118, 118), rgb(252, 118, 118), red);
 }

 .ux-btn.ux-bg-red.grad-smooth.bg-hover:hover {
   background: linear-gradient(rgb(252, 118, 118), rgb(255, 101, 101), rgb(230, 0, 0));
 }

 .ux-btn.ux-bg-red.grad-hard {
   background: linear-gradient(rgb(255, 153, 153), rgb(255, 153, 153), red);
 }

 .ux-btn.grad-hard.ux-bg-red-hover:hover {
   background: linear-gradient(rgb(255, 153, 153), rgb(255, 153, 153), red);
 }

 .ux-btn.ux-bg-red.grad-hard.bg-hover:hover {
   background: linear-gradient(rgb(255, 153, 153), rgb(255, 137, 137), rgb(230, 0, 0));
 }

 .ux-btn.ux-bg-amber.grad-silk {
   background: linear-gradient(rgb(255, 220, 115), rgb(255, 193, 7));
 }

 .ux-btn.grad-silk.ux-bg-amber-hover:hover {
   background: linear-gradient(rgb(255, 220, 115), rgb(255, 193, 7));
 }

 .ux-btn.ux-bg-amber.grad-silk.bg-hover:hover {
   background: linear-gradient(rgb(255, 220, 115), rgb(233, 175, 1));
 }

 .ux-btn.ux-bg-amber.grad-smooth {
   background: linear-gradient(rgb(255, 220, 115), rgb(255, 220, 115), rgb(255, 193, 7));
 }

 .ux-btn.grad-smooth.ux-bg-amber-hover:hover {
   background: linear-gradient(rgb(255, 220, 115), rgb(255, 220, 115), rgb(255, 193, 7));
 }

 .ux-btn.ux-bg-amber.grad-smooth.bg-hover:hover {
   background: linear-gradient(rgb(255, 220, 115), rgb(255, 210, 110), rgb(233, 175, 1));
 }

 .ux-btn.ux-bg-amber.grad-hard {
   background: linear-gradient(rgb(255, 241, 198), rgb(255, 229, 152), rgb(255, 193, 7));
 }

 .ux-btn.grad-hard.ux-bg-amber-hover:hover {
   background: linear-gradient(rgb(255, 241, 198), rgb(255, 229, 152), rgb(255, 193, 7));
 }

 .ux-btn.ux-bg-amber.grad-hard.bg-hover:hover {
   background: linear-gradient(rgb(255, 241, 198), rgb(255, 223, 127), rgb(233, 175, 1));
 }

 /*********dimension*********/
 .ux-fill-x-space {
    width: 100%;
 }

 /************Alignment***********/
 .ux-txt-align-rt {
    text-align: right;
 }

 .ux-txt-align-lt {
   text-align: left;
 }

 .ux-txt-align-ct {
   text-align: center;
 }

 .ux-center-elem {
   margin: 0 auto;
 }

 /************menu**************/
 ul.ux-hr-menu,
 ul.ux-vt-menu {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
 }

 ul.ux-hr-menu li {
   display: inline;
   text-align: center;
 }

 ul.ux-hr-menu.fmt-link-med li .link {
   display: inline-block;
   text-decoration: none;
   padding: 30px 12px;
   font-size: 0.95em;
 }

 ul.ux-hr-menu.fmt-link-sm li .link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 10px;
  font-size: 0.95em;
}

ul.ux-vt-menu li {
  text-align: left;
}

ul.ux-vt-menu.fmt-link-med li .link {
  display: block;
  text-decoration: none;
  padding: 4px 0 10px 0;
  font-size: 0.95em;
}

/*************layout************/
.ux-layout-grid.columns-1,
.ux-layout-grid.columns-2,
.ux-layout-grid.columns-3,
.ux-layout-grid.columns-4,
.ux-layout-grid.columns-5,
.ux-layout-grid.columns-6 {
  display: block;
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
}

.ux-layout-grid.columns-1 .grid-item {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.ux-layout-grid.columns-2 .grid-item {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.ux-layout-grid.columns-3 .grid-item {
  float: left;
  width: 33%;
  box-sizing: border-box;
}

.ux-layout-grid.columns-4 .grid-item {
  float: left;
  width: 25%;
  box-sizing: border-box;
}

.ux-layout-grid.columns-5 .grid-item {
  float: left;
  width: 20%;
  box-sizing: border-box;
}

.ux-layout-grid.columns-6 .grid-item {
  float: left;
  width: 16.6%;
  box-sizing: border-box;
}