/* custom css for the website should be place here */

/********custom wait animation********/
.vt-bars-anim-cont {
    display: table;
}

.vt-bars-anim-cont .vt-bar-cont {
    display: table-cell;
    vertical-align: middle;
    width: 4px;
    height: 16px;
    padding-left: 1px;
    padding-right: 1px;
}

.vt-bars-anim-cont .vt-bar-cont .vt-bar-1,
.vt-bars-anim-cont .vt-bar-cont .vt-bar-2,
.vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
    width: 100%;
    height: 10px;
}

.vt-bars-anim-cont .vt-bar-cont .vt-bar-1 {
    -webkit-animation: expand-1 0.8s linear infinite;
    animation: expand-1 0.8s linear infinite;
}

 @-webkit-keyframes expand-1 {
   0% { height: 16px; background-color: #037ad8;}
   33% { height: 16px; background-color: #037ad8;}
   34% { height: 10px; background-color: #3fa0ef;}
   100% { height: 10px; background-color: #3fa0ef;}
 }
 @keyframes expand-1 {
   0% { height: 16px; background-color: #037ad8;}
   33% { height: 16px; background-color: #037ad8;}
   34% { height: 10px; background-color: #3fa0ef;}
   100% { height: 10px; background-color: #3fa0ef;}
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-2 {
   -webkit-animation: expand-2 0.8s linear infinite;
   animation: expand-2 0.8s linear infinite;
 }

 @-webkit-keyframes expand-2 {
   0% { height: 10px; background-color: #3fa0ef; }
   33% { height: 10px; background-color: #3fa0ef; }
   34% { height: 16px; background-color: #037ad8; }
   66% { height: 16px; background-color: #037ad8; }
   67% { height: 10px; background-color: #3fa0ef; }
   100% { height: 10px; background-color: #3fa0ef; }
 }
 @keyframes expand-2 {
   0% { height: 10px; background-color: #3fa0ef;}
   33% { height: 10px; background-color: #3fa0ef;}
   34% { height: 16px; background-color: #037ad8; }
   66% { height: 16px; background-color: #037ad8; }
   67% { height: 10px; background-color: #3fa0ef; }
   100% { height: 10px; background-color: #3fa0ef; }
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
   -webkit-animation: expand-3 0.8s linear infinite;
   animation: expand-3 0.8s linear infinite;
 }

 @-webkit-keyframes expand-3 {
   0% { height: 10px; background-color: #3fa0ef; }
   66% { height: 10px; background-color: #3fa0ef; }
   67% { height: 16px; background-color: #037ad8; }
   100% { height: 16px; background-color: #037ad8; }
 }
 @keyframes expand-3 {
   0% { height: 10px; background-color: #3fa0ef; }
   66% { height: 10px; background-color: #3fa0ef; }
   67% { height: 16px; background-color: #037ad8; }
   100% { height: 16px; background-color: #037ad8; }
 }

.shadow {
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
}

.remove-elem {
    display: none;
}

.txt-block-fmt {
    font-family: Calibri;
    font-size: 1.3em;
    color: #545454;
}

h4.section-group-header {
    margin: 0px;
    font-family: Calibri;
    font-size: 1.4em;
    font-weight: normal;
    color: #3fa0ef;
}

.fmt-btn,
.cashout-proceed-btn,
.invest-on-pkg-btn,
.payment-proceed-btn,
.payment-sent-btn,
.testimony-publish-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 8px 0;
    width: 100%;
    border-radius: 4px;
    font-size: 1.0em;
    color: white;
    cursor: default;
    background: rgb(0, 120, 215);
    background: -webkit-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: -o-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: -moz-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
}

.fmt-btn:hover,
.cashout-proceed-btn:hover,
.invest-on-pkg-btn:hover,
.payment-proceed-btn:hover,
.payment-sent-btn:hover,
.testimony-publish-btn:hover {
    box-shadow: 0px 2px 4px 1px gray;
}

.fmt-btn:disabled:hover,
.cashout-proceed-btn:disabled:hover,
.invest-on-pkg-btn:disabled:hover,
.payment-proceed-btn:disabled:hover,
.payment-sent-btn:disabled:hover,
.testimony-publish-btn:disabled:hover {
    box-shadow: unset!important;
}

.page-top-menu-cont {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 100;
}

.site-logo-cont {
    float: left;
    margin-left: 25px;
}

ul.menu-link-cont {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-right: 25px;
}

ul.menu-link-cont > li {
    display: inline-block;
    margin: 16px 0 16px 25px;
}

ul.menu-link-cont .help-cont {
    padding: 4px 10px;
    border-radius: 4px;
    border: 2px solid #6fb3ea;
    color: #6fb3ea;
    cursor: default;
}

ul.menu-link-cont .help-cont:hover {
    border: 2px solid #3d9eee;
    color: #3d9eee;
}

ul.menu-link-cont .help-cont > .fa-question-circle {
    font-size: 1.8em;
    padding-right: 4px;
}

ul.menu-link-cont .help-cont > .txt {
    font-size: 1.2em;
    position: relative;
    top: -3px;
}

ul.menu-link-cont .notification-cont {
    position: relative;
    cursor: default;
}

ul.menu-link-cont .notification-cont > .fa-bell {
    font-size: 1.5em;
    color: gray;
}

ul.menu-link-cont .notification-cont:hover > .fa-bell {
    color: #5f5f5f;
}

ul.menu-link-cont .notification-cont > .count {
    position: absolute;
    top: -8px;
    left: 15px;
    background-color: red;
    border: 1px solid white;
    text-align: center;
    min-width: 17px;
    font-size: 0.8em;
    color: white;
}

ul.menu-link-cont .user-cont {
    cursor: default;
}

ul.menu-link-cont .user-cont > img {
    height: 35px;
    width: 35px;
    margin-bottom: -10px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    background-color: #dadada;
    border: 2px solid white;
}

ul.menu-link-cont .user-cont > .user {
    display: inline-block;
}

ul.menu-link-cont .user-cont .name {
    display: inline-block;
    min-width: 80px;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 1.3em;
    color: gray;
}

ul.menu-link-cont .user-cont .fa-caret-down {
    color: gray;
}

ul.menu-link-cont .user-cont:hover > img {
    border: 2px solid lightgray;
}

ul.menu-link-cont .user-cont:hover .fa-caret-down {
    color: rgb(88, 88, 88);
}

#user-drop-down-menu-cont {
    position: fixed;
    top: 75px;
    right: 10px;
    width: 300px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-top: 1px solid lightgray;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 50;
}

#user-drop-down-menu-cont .pointer {
    position: absolute;
    top: -7px;
    right: 80px;
    width: 12px;
    height: 12px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    transform: rotate(45deg);
    background-color: white;
}

#help-drop-down-menu-cont {
    position: fixed;
    top: 75px;
    right: 70px;
    width: 300px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-top: 1px solid lightgray;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 50;
}

#help-drop-down-menu-cont .pointer {
    position: absolute;
    top: -7px;
    left: 40px;
    width: 12px;
    height: 12px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    transform: rotate(45deg);
    background-color: white;
}

#user-drop-down-menu-cont .menu-list-cont,
#help-drop-down-menu-cont .menu-list-cont {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#user-drop-down-menu-cont .menu-list-cont > li,
#help-drop-down-menu-cont .menu-list-cont > li {
    padding: 8px 0 4px 40px;
    cursor: pointer;
}

#user-drop-down-menu-cont .menu-list-cont a,
#help-drop-down-menu-cont .menu-list-cont a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

#user-drop-down-menu-cont .menu-list-cont > li:hover,
#help-drop-down-menu-cont .menu-list-cont > li:hover {
    background-color: whitesmoke;
}

#user-drop-down-menu-cont .profile-icon-cont,
#user-drop-down-menu-cont .settings-icon-cont,
#user-drop-down-menu-cont .signout-icon-cont,
#help-drop-down-menu-cont .writeus-icon-cont,
#help-drop-down-menu-cont .faq-icon-cont {
    display: inline-block;
    width: 34px;
    height: 30px;
    margin-right: 20px;
    overflow: hidden;
}

#user-drop-down-menu-cont .profile-icon-cont > img {
    width: 243px;
    height: 30px;
}

#user-drop-down-menu-cont .settings-icon-cont > img {
    position: relative;
    left: -40px;
    width: 243px;
    height: 30px;
}

#user-drop-down-menu-cont .signout-icon-cont > img {
    position: relative;
    left: -79px;
    width: 243px;
    height: 30px;
}

#help-drop-down-menu-cont .writeus-icon-cont > img {
    position: relative;
    left: -174px;
    width: 243px;
    height: 30px;
}

#help-drop-down-menu-cont .faq-icon-cont > img {
    position: relative;
    left: -213px;
    width: 243px;
    height: 30px;
}

#user-drop-down-menu-cont .link-name,
#help-drop-down-menu-cont .link-name {
    position: relative;
    top: -7px;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #3d9eee;
}

#notification-win-cont {
    position: fixed;
    top: 75px;
    right: 10px;
    width: 450px;
    min-height: 200px;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
    border-top: 1px solid lightgray;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 200;
}

#notification-win-cont .title-bar-cont {
    overflow: hidden;
}

#notification-win-cont .title-bar-cont > .title {
    float: left;
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 1.3em;
}

#notification-win-cont .title-bar-cont > .close-btn {
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #6cb6f3;
    cursor: default;
}

#notification-win-cont .title-bar-cont > .close-btn > img {
    position: relative;
    top: 1px;
    left: 6.8px;
    width: 34.7px;
    height: 12px;
}

#notification-win-cont .title-bar-cont > .close-btn:hover {
    background-color: rgb(255, 70, 70);
}

/*#notification-win-cont .title-bar-cont > .close-btn:hover > img {
    left: -15.7px;
}*/

#notification-win-cont .scroll-list-cont {
    min-height: 100px;
    max-height: 400px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#notification-list-cont > .item-cont {
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}

#notification-list-cont > .item-cont .title-bar-cont {
    overflow: hidden;
}

#notification-list-cont > .item-cont .title-bar-cont > .msg-title {
    float: left;
    max-width: 300px;
    font-family: Calibri, sans-serif;
    font-size: 1.3em;
    color: #3d9eee;
    font-weight: bold;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg,
#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .delete-msg {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 26px;
    margin-left: 5px;
    overflow: hidden;
    cursor: default;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg.no-read:hover,
#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .delete-msg:hover {
    background-color: rgb(235, 235, 235);
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg > img {
    position: relative;
    top: 5px;
    width: 165px;
    height: 18px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg.no-read > img {
    left: 3px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg.read > img {
    left: -35px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .delete-msg > img {
    position: relative;
    top: 3px;
    left: -85px;
    width: 181px;
    height: 20px;
}

#notification-list-cont > .item-cont .msg-body {
    padding: 10px 0 15px 0;
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
}

#notification-list-cont > .item-cont .footer {
    overflow: hidden;
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn {
    float: left;
    position: relative;
    width: 30px;
    height: 20px;
    overflow: hidden;
    cursor: default;
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn:hover {
    background-color: rgb(235, 235, 235);
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn > img {
    position: relative;
    width: 226px;
    height: 25px
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn.expand > img {
    top: -2px;
    left: -154px;
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn.collapse > img {
    top: -2px;
    left: -199px;
}

#notification-list-cont > .item-cont .footer > .msg-date {
    float: right;
    font-family: sans-serif;
    font-size: 1.0em;
    color: #3d9eee
}

#load-prev-notification {
    padding: 10px;
    margin-top: 35px;
    border: 1px solid lightgray;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #3d9eee;
    cursor: default;
}

#load-prev-notification:hover {
    border: 1px solid #3d9eee;
}

#loading-notification-anim-cont {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 35px;
}

#loading-notification-anim-cont .vt-bars-anim-cont {
    width: 20px;
    height: 16px;
    margin: 0 auto;
}

#notification-status-msg {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 35px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    color: gray;
}

#msg-win-cont {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 100%;
    max-width: 450px;
    min-height: 140px;
    margin-left: -225px;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
    border-top: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 200;
}

#msg-win-cont .title-bar-cont {
    overflow: hidden;
}

#msg-win-cont .title-bar-cont > .title {
    float: left;
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 1.3em;
}

#msg-win-cont .title-bar-cont > .close-btn {
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #6cb6f3;
    cursor: default;
}

#msg-win-cont .title-bar-cont > .close-btn:hover {
    background-color: rgb(255, 70, 70);
}

#msg-win-cont .title-bar-cont > .close-btn > img {
    position: relative;
    top: 1px;
    left: 6.8px;
    width: 34.7px;
    height: 12px;
}

#msg-win-cont .body-cont {
    font-size: 1.1em;
    padding: 0px 10px;
}

.page-left-menu-cont {
    position: fixed;
    top: 0px;
    width: 350px;
    height: 100%;
    background-color: #5787c2;
}

.page-left-menu-cont #scroll-wrapper {
    margin-top: 72px;
    overflow-y: auto;
}

.page-left-menu-cont ul.menu-list-cont {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-top: 85px;
}

.page-left-menu-cont ul.menu-list-cont > li {
    display: block;
    padding: 10px 0 10px 6px;
}

.page-left-menu-cont ul.menu-list-cont > li.enable:hover {
    background-color: #6b96ca;
}

.page-left-menu-cont ul.menu-list-cont .active-link-indicator {
    border-left: 6px solid white;
    padding-left: 0px;
    outline: 2px solid #5787c2;
    background-color: #6b96ca;
}

.page-left-menu-cont ul.menu-list-cont a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.page-left-menu-cont ul.menu-list-cont li.disable a {
    cursor: default;
}

.page-left-menu-cont ul.menu-list-cont .link-icon-cont-1,
.page-left-menu-cont ul.menu-list-cont .link-icon-cont-2,
.page-left-menu-cont ul.menu-list-cont .link-icon-cont-3,
.page-left-menu-cont ul.menu-list-cont .link-icon-cont-4,
.page-left-menu-cont ul.menu-list-cont .link-icon-cont-5,
.page-left-menu-cont ul.menu-list-cont .link-icon-cont-6 {
    display: inline-block;
    width: 35px;
    height: 30px;
    margin-left: 20px;
    margin-right: 15px;
    overflow: hidden;
}

.page-left-menu-cont ul.menu-list-cont .link-icon-cont-1 > img {
    position: relative;
    width: 274px;
    height: 30px;
}

.page-left-menu-cont ul.menu-list-cont .link-icon-cont-2 > img {
    position: relative;
    left: -46px;
    width: 274px;
    height: 30px;
}

.page-left-menu-cont ul.menu-list-cont .link-icon-cont-3 > img {
    position: relative;
    left: -91px;
    width: 274px;
    height: 30px;
}

.page-left-menu-cont ul.menu-list-cont .link-icon-cont-4 > img {
    position: relative;
    left: -139px;
    width: 274px;
    height: 30px;
}

.page-left-menu-cont ul.menu-list-cont .link-icon-cont-5 > img {
    position: relative;
    left: -189px;
    width: 274px;
    height: 30px;
}

.page-left-menu-cont ul.menu-list-cont .link-icon-cont-6 > img {
    position: relative;
    left: -241px;
    width: 274px;
    height: 30px;
}

.page-left-menu-cont ul.menu-list-cont .link-name {
    position: relative;
    top: -7px;
    font-size: 1.1em;
}

.page-left-menu-cont ul.menu-list-cont li.enable .link-name {
    color: white;
}

.page-left-menu-cont ul.menu-list-cont li.disable .link-name {
    color: #a8b9ce;
}

.page-content-cont {
    padding: 70px 20px 20px 20px;
    margin-left: 350px;
    /*width: 100%;*/
    background-color: lightgray;
}

.page-title-hd {
    margin-top: 35px;
    font-family: Calibri;
    font-size: 1.7em;
}

.content-body-cont {
    min-height: 500px;
    padding: 20px;
    background-color: white;
}

.content-body-cont .header-description-cont {
    overflow: hidden;
    margin-bottom: 50px;
}

.content-body-cont .header-description-cont .sub-section-hd {
    float: left;
}

.content-body-cont .header-description-cont .courrent-step-indicator {
    float: right;
    font-family: Calibri;
    font-size: 1.4em;
    color: #3fa0ef;
}

.content-body-cont .p1,
.content-body-cont .p2 {
    max-width: 510px;
}

.content-body-cont .p1 {
    margin-bottom: 45px;
}

.content-body-cont .p1 .txt-decor {
    color: #6fb3ea;
}

.email-resend-btn-cont {
    width: 140px;
    margin-top: 30px;
}

.resend-email-anim-cont {
    margin-top: 30px;
    overflow: hidden;
}

.current-inv-sec-1,
.current-inv-sec-2,
.current-inv-sec-3,
.cashout-inv-sec-1,
.cashout-inv-sec-2,
.packages-sec-1,
.payment-pkg-sec-1,
.payment-method-sec-2,
.testimony-sec-1 {
    padding: 15px 15px;
    margin-bottom: 20px;
    background-color: white;
}

.current-inv-tbl-cont {
    margin-top: 25px;
    margin-bottom: 30px;
}

.current-inv-tbl {
    border-collapse: collapse;
}

.current-inv-tbl td {
    padding: 5px;
    font-family: Calibri;
    font-size: 1.2em;
}

.current-inv-tbl tr > td:first-child {
    min-width: 200px;
}

.current-inv-stat-cont {
    max-width: 800px;
}

.current-inv-stat-wrapper .grid-item {
    padding: 10px 14px 10px 5px;
}

.current-inv-stat-wrapper .amt-inv-cont,
.current-inv-stat-wrapper .roi-cont,
.current-inv-stat-wrapper .mb-inv-cont,
.current-inv-stat-wrapper .cp-inv-cont {
    padding: 5px 0px 7px 12px;
    border-left: 6px solid #00a232;
    background-color: white;
    box-shadow: 0px 1px 6px 1px rgba(133, 144, 156, 0.6);
}

.current-inv-stat-wrapper .amt-inv-cont .data,
.current-inv-stat-wrapper .roi-cont .data,
.current-inv-stat-wrapper .mb-inv-cont .data,
.current-inv-stat-wrapper .cp-inv-cont .data {
    margin-bottom: 4px;
    font-size: 1.4em;
    font-weight: 500;
}

.current-inv-stat-wrapper .amt-inv-cont .title,
.current-inv-stat-wrapper .roi-cont .title,
.current-inv-stat-wrapper .mb-inv-cont .title,
.current-inv-stat-wrapper .cp-inv-cont .title {
    font-size: 0.9em;
}

.current-inv-stat-wrapper .amt-inv-cont {
    border-left: 6px solid #00afef;
}

.current-inv-stat-wrapper .roi-cont .figure {
    float: left;
}

.current-inv-stat-wrapper .roi-cont .data {
    overflow: hidden;
}

.current-inv-stat-wrapper .roi-cont .icon {
    float: right;
    width: 23px;
    height: 18px;
    margin-top: 5px;
    margin-right: 8px;
}

.inv-revenue-cont {
    margin-top: 15px;
    max-width: 650px;
    margin-bottom: 20px;
}

.inv-revenue-wrapper .grid-item {
    padding: 10px 14px 10px 0px;
}

.inv-revenue-wrapper .total-bal-inv-cont .data,
.inv-revenue-wrapper .available-bal-inv-cont .data,
.inv-revenue-wrapper .pending-revenue-inv-cont .data,
.inv-overview-wrapper .total-inv-cont .data,
.inv-overview-wrapper .total--revenue-inv-cont .data {
    margin-bottom: 4px;
    font-size: 1.4em;
    font-weight: 500;
}

.inv-revenue-wrapper .total-bal-inv-cont .title,
.inv-revenue-wrapper .available-bal-inv-cont .title,
.inv-revenue-wrapper .pending-revenue-inv-cont .title,
.inv-overview-wrapper .total-inv-cont .title,
.inv-overview-wrapper .total--revenue-inv-cont .title {
    font-size: 1.0em;
}

.cash-out-btn {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 8px 50px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 1.1em;
    color: white;
    cursor: default;
    background: rgb(0, 120, 215);
    background: -webkit-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: -o-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: -moz-linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
    background: linear-gradient(120deg, rgb(65, 161, 240), rgb(0, 120, 215));
}

.cash-out-btn:hover {
    box-shadow: 0px 2px 4px 1px gray;
}

.cash-out-btn:disabled:hover {
    box-shadow: unset!important;
}

.inv-overview-cont {
    margin-top: 15px;
    max-width: 450px;
    margin-bottom: 40px;
}

.inv-overview-wrapper .grid-item {
    padding: 10px 14px 10px 0px;
}

.overview-inv-tbl-cont-wrapper {
    max-width: 1000px;
}

.overview-inv-tbl-cont {
    overflow-x: auto;
    margin-bottom: 25px;
}

.overview-inv-tbl {
    width: 100%;
    min-width: 850px;
    border-collapse: collapse;
}

.overview-inv-tbl tr:nth-child(even) {
    background-color: #d1eaff;
}

.overview-inv-tbl tr:nth-child(odd) {
    background-color: #ebf6ff;
}

.overview-inv-tbl tr:first-child {
    text-align: left;
    color: white;
    background-color: #4098e0;
}

.overview-inv-tbl th,
.overview-inv-tbl td {
    padding: 10px;
}

.overview-inv-tbl th {
    font-size: 1.0em;
    font-weight: 500;
}

.overview-tbl-navi-cont {
    overflow: hidden;
}

.overview-tbl-navi-cont .curr-page-indicator {
    float: left;
    font-size: 1.1em;
    font-weight: 500;
}

.overview-tbl-navi-cont .navi-btn-cont {
    float: right;
}

.overview-tbl-navi-cont .navi-btn-cont > button {
    width: 40px;
    height: 26px;
    margin-left: 4px;
}

.overview-tbl-navi-cont .navi-btn-cont > button > span {
    font-size: 1.4em;
    color: #505050;
}

.cashout-account-tbl-cont {
    margin-top: 25px;
}

#cashout-account-tbl {
    border-collapse: collapse;
}

#cashout-account-tbl tr > td:first-child {
    min-width: 175px;
}

#cashout-account-tbl td {
    padding: 5px;
    font-family: Calibri;
    font-size: 1.2em;
}

.select-input-descr {
    font-size: 1.1em;
    margin-top: 25px;
    margin-bottom: 15px;
}

.select-crypto-cont {
    margin-bottom: 25px;
}

.select-crypto-cont .select-input-descr {
    max-width: 350px;
}

#btc-crypto-input,
#eth-crypto-input,
#xrp-crypto-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#btc-crypto-input + label,
#eth-crypto-input + label,
#xrp-crypto-input + label {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    padding-bottom: 0px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: 2px solid lightgray;
    border-radius: 6px;
    overflow: hidden;
}

#btc-crypto-input + label .marker,
#eth-crypto-input + label .marker,
#xrp-crypto-input + label .marker {
    position: absolute;
    top: -11px;
    right: -11px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#btc-crypto-input + label .crypto-icon,
#eth-crypto-input + label .crypto-icon,
#xrp-crypto-input + label .crypto-icon {
    width: 30px;
    height: 30px;
}

#btc-crypto-input + label .crypt-name,
#eth-crypto-input + label .crypt-name,
#xrp-crypto-input + label .crypt-name {
    display: inline-block;
    position: relative;
    margin-left: 2px;
    top: -9px;
    font-size: 1.0em;
    font-weight: 500;
}

#btc-crypto-input:checked + label,
#eth-crypto-input:checked + label,
#xrp-crypto-input:checked + label {
    border: 2px solid #3fa0ef;
}

#btc-crypto-input:checked + label .marker,
#eth-crypto-input:checked + label .marker,
#xrp-crypto-input:checked + label .marker {
    background-color: #3fa0ef;
}

.crypto-input-cont {
    margin-bottom: 20px;
}

.crypto-input-cont > label {
    font-size: 1.1em;
}

.crypto-input-cont > input {
    width: 100%;
    max-width: 350px;
    height: 35px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 10px;
    font-family: Calibri;
    font-size: 1.2em;
    color: #4c4e50;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}

.cashout-proceed-btn-cont,
.payment-proceed-btn-cont {
    max-width: 140px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.cashout-anim-cont,
.payment-anim-cont {
    margin-top: 42px;
    margin-bottom: 11px;
    overflow: hidden;
}

.cashout-anim-cont .vt-bars-anim-cont,
.payment-anim-cont .vt-bars-anim-cont,
.resend-email-anim-cont .vt-bars-anim-cont {
    float: left;
    width: 21px;
    height: 32px;
    margin-left: 20px;
}

.cashout-anim-cont .anim-txt,
.payment-anim-cont .anim-txt,
.resend-email-anim-cont .anim-txt {
    margin-left: 65px;
    margin-top: 2px;
    font-size: 1.1em;
    font-weight: 500;
    color: #399ced;
}

.package-descr-cont {
    font-size: 1.1em;
    max-width: 520px;
    margin-bottom: 80px;
}

.package-list-wrapper .grid-item {
    padding: 15px;
    padding-bottom: 50px;
}

.package-list-wrapper .package-cont {
    box-shadow: 0px 1px 10px 2px rgba(133, 144, 156, 0.6);
    overflow: hidden;
    border-radius: 6px;
}

.package-list-wrapper .package-cont.item-1 .upper-sec {
    border-bottom: 3px solid lightgray;
}

.package-list-wrapper .package-cont.item-2 .upper-sec {
    border-bottom: 3px solid #d58042;
}

.package-list-wrapper .package-cont.item-3 .upper-sec {
    border-bottom: 3px solid #a85d18;
}

.package-list-wrapper .package-cont.item-4 .upper-sec {
    border-bottom: 3px solid #a9abae;
}

.package-list-wrapper .package-cont.item-5 .upper-sec {
    border-bottom: 3px solid #d9b800;
}

.package-list-wrapper .package-cont .upper-sec {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.package-list-wrapper .package-cont .title {
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.package-list-wrapper .package-cont .price-range {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 5px;
}

.package-list-wrapper .package-cont .duration-cont {
    font-size: 1.4em;
    font-weight: 500;
}

.package-list-wrapper .package-cont .duration-cont .duration {
    font-weight: bold;
    font-size: 1.3em;
}

.package-list-wrapper .package-cont .lower-sec {
    min-height: 160px;
    padding: 10px 15px;
    padding-bottom: 40px;
}

.package-list-wrapper .package-cont .pkg-features-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.package-list-wrapper .package-cont .pkg-features-list > li {
    padding: 8px 0px;
    text-align: center;
    font-size: 1.0em;
    border-bottom: 2px solid lightgray;
}

.package-list-wrapper .package-cont .invest-btn-cont {
    padding: 15px;
}

.investment-error-cont {
    padding: 15px 15px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    background-color: white;
}

.investment-error-cont .err-msg {
    max-width: 520px;
    font-size: 1.1em;
    line-height: 26px;
}

.inv-cont {
    margin-top: 40px;
}

.inv-img-cont {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    overflow: hidden;
}

.inv-img-cont > img {
    height: 50px;
    width: auto;
}

.inv-img-cont.pkg-1 > img {
    position: relative;
    left: 0px;
}

.inv-img-cont.pkg-2 > img {
    position: relative;
    left: -62px;
}

.inv-img-cont.pkg-3 > img {
    position: relative;
    left: -124px;
}

.inv-img-cont.pkg-4 > img {
    position: relative;
    left: -185px;
}

.inv-img-cont.pkg-5 > img {
    position: relative;
    left: -247px;
}

.inv-name-cont {
    display: inline-block;
}

.inv-name-cont > h2 {
    position: relative;
    top: -15px;
    margin: 0;
    font-size: 2.0em;
    font-weight: 500;
}

.inv-feature-list-cont > h3 {
    font-weight: 500;
}

.inv-feature-list-cont {
    max-width: 500px;
}

.inv-feature-list {
    padding-left: 22px;
}

.inv-feature-list > li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

#payment-win-cont {
    position: fixed;
    top: 15%;
    left: 50%;
    width: 100%;
    max-width: 450px;
    min-height: 140px;
    margin-left: -225px;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
    border-top: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 200;
}

#payment-win-cont .title-bar-cont {
    overflow: hidden;
}

#payment-win-cont .title-bar-cont > .title {
    float: left;
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 1.3em;
}

#payment-win-cont .title-bar-cont > .close-btn {
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #6cb6f3;
    cursor: default;
}

#payment-win-cont .title-bar-cont > .close-btn:hover {
    background-color: rgb(255, 70, 70);
}

#payment-win-cont .title-bar-cont > .close-btn > img {
    position: relative;
    top: 1px;
    left: 6.8px;
    width: 34.7px;
    height: 12px;
}

#payment-win-cont .body-cont {
    font-size: 1.1em;
    padding: 0px 10px;
}

.payment-details-tbl {
    border-collapse: collapse;
}

.payment-details-tbl tr > td:first-child {
    min-width: 100px;
    font-weight: 500;
}

.payment-details-tbl td {
    padding: 5px;
}

.payment-details-tbl-cont {
    margin-bottom: 30px;
}

.payment-qr-code-cont {
    text-align: center;
    margin-bottom: 40px;
}

.payment-qr-code {
    width: 150px;
    height: 150px;
}

.payment-qr-code-cont .qr-text {
    font-size: 0.8em;
}

.payment-sent-btn-cont {
    margin-bottom: 10px;
}

.testimony-list-cont {
    overflow-y: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    max-height: 500px;
}

#testimony-list-wrapper {
    overflow: hidden;
    max-width: 700px;
}

.testimony-item {
    padding: 10px;
    margin: 2px 5px 15px 5px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0px 2px 7px 0px rgba(133, 144, 156, 0.6);
}

.testimony-item .top-bar-cont .delete-btn-cont {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.testimony-item .top-bar-cont .delete-btn-cont:hover {
    background-color: #e8e8e8;
    cursor: default;
}

.testimony-item .top-bar-cont .delete-btn-cont > img {
    position: relative;
    top: 4px;
    left: -84px;
    height: 20px;
    width: 181px;
}

.testimony-item .msg-body {
    font-size: 1.1em;
    padding-right: 40px;
    margin-bottom: 20px;
    min-height: 30px;
}

.testimony-item .footer-bar-cont {
    overflow: hidden;
}

.testimony-item .footer-bar-cont .write-time-label {
    float: right;
    font-size: 1.0em;
    color: #3d9eee;
}

#no-testimony-msg {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px 0px;
    border: 1px solid lightgray;
    background-color: #e8e8e8;
}

.testimony-text-input-cont .textarea-cont {
    max-width: 700px;
    margin-bottom: 20px;
}

.testimony-text-input-cont .textarea-cont > label {
    display: inline-block;
    font-size: 1.0em;
    margin-left: 10px;
    margin-bottom: 5px;
}

#testimony-textarea {
    resize: none;
    overflow-y: hidden;
    width: 100%;
    min-height: 80px;
    padding: 10px 15px;
    margin: 0px;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: #4a4a4a;
}

#testimony-textarea:focus {
    outline: none;
    border: 1px solid #8e8e8e;
}

.publish-btn-cont {
    max-width: 140px;
    margin-bottom: 40px;
}