/* custom css for the website should be place here */

/********custom wait animation********/
.vt-bars-anim-cont {
    display: table;
}

.vt-bars-anim-cont .vt-bar-cont {
    display: table-cell;
    vertical-align: middle;
    width: 4px;
    height: 16px;
    padding-left: 1px;
    padding-right: 1px;
}

.vt-bars-anim-cont .vt-bar-cont .vt-bar-1,
.vt-bars-anim-cont .vt-bar-cont .vt-bar-2,
.vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
    width: 100%;
    height: 10px;
}

.vt-bars-anim-cont .vt-bar-cont .vt-bar-1 {
    -webkit-animation: expand-1 0.8s linear infinite;
    animation: expand-1 0.8s linear infinite;
}

 @-webkit-keyframes expand-1 {
   0% { height: 16px; background-color: #037ad8;}
   33% { height: 16px; background-color: #037ad8;}
   34% { height: 10px; background-color: #3fa0ef;}
   100% { height: 10px; background-color: #3fa0ef;}
 }
 @keyframes expand-1 {
   0% { height: 16px; background-color: #037ad8;}
   33% { height: 16px; background-color: #037ad8;}
   34% { height: 10px; background-color: #3fa0ef;}
   100% { height: 10px; background-color: #3fa0ef;}
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-2 {
   -webkit-animation: expand-2 0.8s linear infinite;
   animation: expand-2 0.8s linear infinite;
 }

 @-webkit-keyframes expand-2 {
   0% { height: 10px; background-color: #3fa0ef; }
   33% { height: 10px; background-color: #3fa0ef; }
   34% { height: 16px; background-color: #037ad8; }
   66% { height: 16px; background-color: #037ad8; }
   67% { height: 10px; background-color: #3fa0ef; }
   100% { height: 10px; background-color: #3fa0ef; }
 }
 @keyframes expand-2 {
   0% { height: 10px; background-color: #3fa0ef;}
   33% { height: 10px; background-color: #3fa0ef;}
   34% { height: 16px; background-color: #037ad8; }
   66% { height: 16px; background-color: #037ad8; }
   67% { height: 10px; background-color: #3fa0ef; }
   100% { height: 10px; background-color: #3fa0ef; }
 }

 .vt-bars-anim-cont .vt-bar-cont .vt-bar-3 {
   -webkit-animation: expand-3 0.8s linear infinite;
   animation: expand-3 0.8s linear infinite;
 }

 @-webkit-keyframes expand-3 {
   0% { height: 10px; background-color: #3fa0ef; }
   66% { height: 10px; background-color: #3fa0ef; }
   67% { height: 16px; background-color: #037ad8; }
   100% { height: 16px; background-color: #037ad8; }
 }
 @keyframes expand-3 {
   0% { height: 10px; background-color: #3fa0ef; }
   66% { height: 10px; background-color: #3fa0ef; }
   67% { height: 16px; background-color: #037ad8; }
   100% { height: 16px; background-color: #037ad8; }
 }

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-1 {
    background-color: #ff2a2a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-2 {
    background-color: #ff762a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-3 {
    background-color: #a6ff2a!important;
    transition: background-color 0.5s;
}

.passwd-strength-indicator-cont .ind-wrapper .indicator.str-clr-4 {
    background-color: #2aff42!important;
    transition: background-color 0.5s;
}

.shadow {
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
}

.remove-elem {
    display: none;
}

.txt-block-fmt {
    font-family: Calibri;
    font-size: 1.3em;
    color: #545454;
}

h4.section-group-header {
    margin: 0px;
    font-family: Calibri;
    font-size: 1.4em;
    font-weight: normal;
    color: #6e6e6e;
}

.fmt-btn,
.cashout-proceed-btn,
.invest-on-pkg-btn,
.payment-proceed-btn,
.payment-sent-btn,
.testimony-publish-btn,
#img-editor-win-cont .apply-btn-cont > input,
.settings-passwd-submit-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 8px 0;
    width: 100%;
    border-radius: 4px;
    font-size: 1.0em;
    color: white;
    cursor: default;
    background: rgb(51, 51, 51);
    background: linear-gradient(120deg, rgb(105, 105, 105), rgb(51, 51, 51));
}

.fmt-btn:hover,
.cashout-proceed-btn:hover,
.invest-on-pkg-btn:hover,
.payment-proceed-btn:hover,
.payment-sent-btn:hover,
.testimony-publish-btn:hover,
#img-editor-win-cont .apply-btn-cont > input:hover,
.settings-passwd-submit-btn:hover {
    box-shadow: 0px 2px 4px 1px gray;
}

.fmt-btn:disabled:hover,
.cashout-proceed-btn:disabled:hover,
.invest-on-pkg-btn:disabled:hover,
.payment-proceed-btn:disabled:hover,
.payment-sent-btn:disabled:hover,
.testimony-publish-btn:disabled:hover,
#img-editor-win-cont .apply-btn-cont > input:disabled:hover,
.settings-passwd-submit-btn:disabled:hover {
    box-shadow: unset!important;
}

.page-top-menu-cont {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 100;
}

.show-side-menu-icon {
    display: none;
    float: left;
    width: 33px;
    margin: 22px 25px 0px 25px;
    overflow: hidden;
}

.show-side-menu-icon img {
    position: relative;
    top: 2px;
    height: 25px;
    width: 65px;
}

.show-side-menu-icon.close img {
    left: 0px;
}

.show-side-menu-icon.open img {
    left: -35px;
}

.site-logo-cont {
    float: left;
    margin: 14px 0px 0px 25px;
}

.site-logo-cont img {
    height: 45px;
    width: auto;
}

ul.menu-link-cont {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-right: 25px;
}

ul.menu-link-cont > li {
    display: inline-block;
    margin: 16px 15px 16px 15px;
}

ul.menu-link-cont .help-cont {
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid #ababab;
    color: #808080;
    cursor: default;
}

ul.menu-link-cont .help-cont:hover {
    border: 2px solid #858585;
    color: #5f5f5f;
}

ul.menu-link-cont .help-cont > .fa-question-circle {
    font-size: 1.8em;
    padding-right: 4px;
}

ul.menu-link-cont .help-cont > .txt {
    font-size: 1.2em;
    position: relative;
    top: -3px;
}

ul.menu-link-cont .notification-cont {
    position: relative;
    cursor: default;
}

ul.menu-link-cont .notification-cont > .fa-bell {
    font-size: 1.5em;
    color: gray;
}

ul.menu-link-cont .notification-cont:hover > .fa-bell {
    color: #5f5f5f;
}

ul.menu-link-cont .notification-cont > .count {
    position: absolute;
    top: -8px;
    left: 15px;
    background-color: red;
    border: 1px solid white;
    text-align: center;
    min-width: 17px;
    font-size: 0.8em;
    color: white;
}

ul.menu-link-cont .user-cont {
    cursor: default;
}

ul.menu-link-cont .user-cont > img {
    height: 40px;
    width: 39px;
    margin-bottom: -13px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    background-color: #dadada;
    border: 2px solid white;
}

ul.menu-link-cont .user-cont > .user {
    display: inline-block;
}

ul.menu-link-cont .user-cont .name {
    display: inline-block;
    min-width: 80px;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 1.3em;
    color: gray;
}

ul.menu-link-cont .user-cont .fa-caret-down {
    color: gray;
}

ul.menu-link-cont .user-cont:hover > img {
    border: 2px solid lightgray;
}

ul.menu-link-cont .user-cont:hover .fa-caret-down {
    color: rgb(88, 88, 88);
}

#user-drop-down-menu-cont {
    position: fixed;
    top: 75px;
    right: 10px;
    width: 300px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-top: 1px solid lightgray;
    box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 50;
}

#user-drop-down-menu-cont .pointer {
    position: absolute;
    top: -7px;
    right: 100px;
    width: 12px;
    height: 12px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    transform: rotate(45deg);
    background-color: white;
}

#help-drop-down-menu-cont {
    position: fixed;
    top: 75px;
    right: 115px;
    width: 300px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-top: 1px solid lightgray;
    box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 50;
}

#help-drop-down-menu-cont .pointer {
    position: absolute;
    top: -7px;
    right: 245px;
    width: 12px;
    height: 12px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    transform: rotate(45deg);
    background-color: white;
}

#user-drop-down-menu-cont .menu-list-cont,
#help-drop-down-menu-cont .menu-list-cont {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#user-drop-down-menu-cont .menu-list-cont > li,
#help-drop-down-menu-cont .menu-list-cont > li {
    padding: 8px 0 4px 40px;
    cursor: pointer;
}

#user-drop-down-menu-cont .menu-list-cont a,
#help-drop-down-menu-cont .menu-list-cont a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

#user-drop-down-menu-cont .menu-list-cont > li:hover,
#help-drop-down-menu-cont .menu-list-cont > li:hover {
    background-color: whitesmoke;
}

#user-drop-down-menu-cont .profile-icon-cont,
#user-drop-down-menu-cont .settings-icon-cont,
#user-drop-down-menu-cont .signout-icon-cont,
#help-drop-down-menu-cont .writeus-icon-cont,
#help-drop-down-menu-cont .faq-icon-cont {
    display: inline-block;
    width: 34px;
    height: 30px;
    margin-right: 20px;
    overflow: hidden;
}

#user-drop-down-menu-cont .profile-icon-cont > img {
    width: 243px;
    height: 30px;
}

#user-drop-down-menu-cont .settings-icon-cont > img {
    position: relative;
    left: -40px;
    width: 243px;
    height: 30px;
}

#user-drop-down-menu-cont .signout-icon-cont > img {
    position: relative;
    left: -79px;
    width: 243px;
    height: 30px;
}

#help-drop-down-menu-cont .writeus-icon-cont > img {
    position: relative;
    left: -174px;
    width: 243px;
    height: 30px;
}

#help-drop-down-menu-cont .faq-icon-cont > img {
    position: relative;
    left: -213px;
    width: 243px;
    height: 30px;
}

#user-drop-down-menu-cont .link-name,
#help-drop-down-menu-cont .link-name {
    position: relative;
    top: -7px;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #737373;
}

#compose-mail-editor {
    position: fixed;
    top: 12%;
    left: 50%;
    width: 850px;
    margin-left: -425px;
    z-index: 110;
}

.compose-mail-editor-wrapper {
    min-height: 250px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-top: 1px solid lightgray;
    background-color: white;
    box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.4);
}

#compose-mail-editor .mail-header-cont {
    margin-top: 10px;
}

#compose-mail-editor .mail-header-cont input {
    height: 40px;
    width: 100%;
    font-size: 1.2em;
    color: #5a5a5a;
    padding: 0px 10px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid lightgray;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#compose-mail-editor .edit-body-cont {
    height: 280px;
    padding: 0px 10px;
    margin-bottom: 20px;
    overflow-y: auto;
}

#compose-mail-editor .edit-body {
    display: inline-block;
    width: 100%;
    min-height: 280px;
    border: none;
    outline: none;
}

#compose-mail-editor .editor-menu-btn-cont {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    padding-top: 2px;
    margin-bottom: 20px;
    overflow: hidden;
}

#compose-mail-editor .edit-footer-cont {
    margin-bottom: 15px;
}

#compose-mail-editor .edit-footer-cont .send-msg-btn {
    padding: 8px 35px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.0em;
    color: white;
    cursor: default;
    background: rgb(51, 51, 51);
    background: linear-gradient(120deg, rgb(105, 105, 105), rgb(51, 51, 51));
}

#compose-mail-editor .edit-footer-cont .send-msg-btn:hover {
    box-shadow: 0px 2px 4px 1px gray;
}

#compose-mail-editor .edit-footer-cont .send-msg-btn:disabled:hover {
    box-shadow: unset!important;
}

#compose-mail-editor .editor-menu-btn-cont .mail-editor-icon {
    padding: 3px 8px;
    font-size: 1.2em;
}

#compose-mail-editor .editor-menu-btn-cont .mail-editor-icon:hover {
    background-color: lightgray;
    border-radius: 3px;
}

#compose-mail-editor .editor-menu-btn-cont .mail-editor-input[highlighted="true"] {
    background-color: lightgray;
    border-radius: 3px;
}

/*new menu*/
#compose-mail-editor .main-menu-cont {
    display: inline-block;
    padding-top: 4px;
    overflow: hidden;
    background-color: white;
}

#compose-mail-editor .main-menu-cont.show-tray .pop-menu {
    visibility: visible;
}

#compose-mail-editor .main-menu-cont.hide-tray .pop-menu {
    visibility: hidden;
}

#compose-mail-editor .main-menu-cont .show-hidden-menu-btn {
    float: left;
    width: 40px;
    height: 35px;
    text-align: center;
    cursor: default;
}

#compose-mail-editor .main-menu-cont .show-hidden-menu-btn i {
    font-size: 1.4em;
    color: #6b6b6b;
    line-height: 35px;
}

#compose-mail-editor .main-menu-cont .menu-cont-1 {
    float: left;
    background-color: white;
}

#compose-mail-editor .main-menu-cont .menu-cont-2 {
    float: left;
    background-color: white;
}

#compose-mail-editor .main-menu-cont .menu-cont-3 {
    float: left;
    background-color: white;
}

#compose-mail-editor .main-menu-cont .menu-btn {
    float: left;
    padding: 2px;
    color: #6b6b6b;
    cursor: default;
}

#compose-mail-editor .main-menu-cont .pop-menu {
    position: absolute;
    left: 0px;
    padding: 4px;
    border-top: 1px solid lightgray;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.4);
}
/*new menu end here*/

.ux-custom-select-input .select-option {
    display: table;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    cursor: default;
    text-align: left;
    font-size: 1.0em;
    color: #5a5a5a;
    background-color: white;
    overflow: hidden;
}

.ux-custom-select-input .select-option .selected-item {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 1.0em;
}

.ux-custom-select-input .select-option .selected-item .name-cont {
     overflow: hidden;
 }

 .ux-custom-select-input .select-option .selected-item .name {
     width: 500px;
 }

.ux-custom-select-input .select-option .icon {
    display: table-cell;
    vertical-align: middle;
    min-width: 20px;
    text-align: center;
    font-size: 1.1em;
    color: #7d7d7d;
}

.ux-custom-select-input .option-list-cont {
    position: absolute;
    background-color: white;
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    z-index: 1000;
}

.ux-custom-select-input .option-list {
    list-style-type: none;
    margin: 0;
    padding: 5px 0px;
}

.ux-custom-select-input .option-list > li {
    display: block;
    padding: 10px 20px;
    font-size: 1.0em;
}

.ux-custom-select-input .option-list > li.selected {
    background-color: lightgray;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.ux-custom-select-input .option-list > li:hover {
    background-color: lightgray;
}

.editor-font-name-select-input {
    border-right: 1px solid lightgray;
    padding-right: 1px;
}

.editor-font-color-selector:hover {
    background-color: lightgray;
    border-radius: 3px;
}

.editor-font-name-select-input.ux-custom-select-input .select-option {
    height: 30px;
}

.editor-font-name-select-input.ux-custom-select-input .option-list {
    min-width: 200px;
}

.editor-font-name-select-input.ux-custom-select-input {
    width: 140px;
}

.editor-font-name-select-input.ux-custom-select-input .select-option .selected-item .name-cont {
    width: 105px;
}

.editor-font-size-select-input {
    border-right: 1px solid lightgray;
    padding-right: 1px;
}

.editor-font-size-select-input.ux-custom-select-input .select-option {
    height: 30px;
}

.editor-font-size-select-input.ux-custom-select-input .option-list {
    min-width: 70px;
}

.editor-font-size-select-input.ux-custom-select-input {
    width: 60px;
}

.editor-font-size-select-input.ux-custom-select-input .select-option .selected-item .name-cont {
    width: 25px;
}

.editor-font-color-selector .label-cont {
    width: 30px;
    padding: 2px 3px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 2px;
}

.editor-font-color-selector .selector-cont {
    position: absolute;
    background-color: white;
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    z-index: 1000;
}

.editor-font-color-selector .color-grid-cont {
    width: 180px;
    height: 120px;
    padding: 4px;
}

.editor-font-color-selector .color-grid-cont > .grid-item {
    height: 30px;
    box-sizing: border-box;
}

.editor-font-color-selector .color-grid-cont > .grid-item:hover {
    border: 2px solid white;
}

#notification-win-cont {
    position: fixed;
    top: 75px;
    right: 0px;
    width: 450px;
    z-index: 50;
}

.notification-win-wrapper {
    min-height: 250px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.4);
}

#notification-win-cont .title-bar-cont, 
#compose-mail-editor .title-bar-cont {
    overflow: hidden;
}

#notification-win-cont .title-bar-cont > .title, 
#compose-mail-editor .title-bar-cont > .title {
    float: left;
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 1.3em;
}

#notification-win-cont .title-bar-cont > .close-btn, 
#compose-mail-editor .title-bar-cont > .close-btn {
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #6cb6f3;
    cursor: default;
}

#notification-win-cont .title-bar-cont > .close-btn > img, 
#compose-mail-editor .title-bar-cont > .close-btn > img {
    position: relative;
    top: 1px;
    left: 6.8px;
    width: 34.7px;
    height: 12px;
}

#notification-win-cont .title-bar-cont > .close-btn:hover, 
#compose-mail-editor .title-bar-cont > .close-btn:hover {
    background-color: rgb(255, 70, 70);
}

/*#notification-win-cont .title-bar-cont > .close-btn:hover > img {
    left: -15.7px;
}*/

#notification-win-cont .scroll-list-cont {
    min-height: 100px;
    max-height: 400px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#notification-list-cont > .item-cont {
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}

#notification-list-cont > .item-cont .title-bar-cont {
    overflow: hidden;
}

#notification-list-cont > .item-cont .title-bar-cont > .msg-title {
    float: left;
    max-width: 300px;
    font-family: Calibri, sans-serif;
    font-size: 1.3em;
    color: #3d9eee;
    font-weight: bold;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg,
#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .delete-msg {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 26px;
    margin-left: 5px;
    overflow: hidden;
    cursor: default;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg.no-read:hover,
#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .delete-msg:hover {
    background-color: rgb(235, 235, 235);
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg > img {
    position: relative;
    top: 5px;
    width: 165px;
    height: 18px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg.no-read > img {
    left: 3px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .mark-msg.read > img {
    left: -35px;
}

#notification-list-cont > .item-cont .title-bar-cont > ul.msg-action-btn-cont .delete-msg > img {
    position: relative;
    top: 3px;
    left: -85px;
    width: 181px;
    height: 20px;
}

#notification-list-cont > .item-cont .msg-body {
    padding: 10px 0 15px 0;
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
}

#notification-list-cont > .item-cont .footer {
    overflow: hidden;
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn {
    float: left;
    position: relative;
    width: 30px;
    height: 20px;
    overflow: hidden;
    cursor: default;
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn:hover {
    background-color: rgb(235, 235, 235);
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn > img {
    position: relative;
    width: 226px;
    height: 25px
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn.expand > img {
    top: -2px;
    left: -154px;
}

#notification-list-cont > .item-cont .footer > .expand-msg-btn.collapse > img {
    top: -2px;
    left: -199px;
}

#notification-list-cont > .item-cont .footer > .msg-date {
    float: right;
    font-family: sans-serif;
    font-size: 1.0em;
    color: #3d9eee
}

#load-prev-notification {
    padding: 10px;
    margin-top: 35px;
    border: 1px solid lightgray;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #3d9eee;
    cursor: default;
}

#load-prev-notification:hover {
    border: 1px solid #3d9eee;
}

#loading-notification-anim-cont {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 35px;
}

#loading-notification-anim-cont .vt-bars-anim-cont {
    width: 20px;
    height: 16px;
    margin: 0 auto;
}

#notification-status-msg {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 35px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    color: gray;
}

#msg-win-cont {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 100%;
    max-width: 450px;
    min-height: 140px;
    margin-left: -225px;
    z-index: 50;
}

.msg-win-wrapper {
    min-height: 150px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.4);
    background-color: white;
}

#msg-win-cont .title-bar-cont {
    overflow: hidden;
}

#msg-win-cont .title-bar-cont > .title {
    float: left;
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 1.3em;
}

#msg-win-cont .title-bar-cont > .close-btn {
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #6cb6f3;
    cursor: default;
}

#msg-win-cont .title-bar-cont > .close-btn:hover {
    background-color: rgb(255, 70, 70);
}

#msg-win-cont .title-bar-cont > .close-btn > img {
    position: relative;
    top: 1px;
    left: 6.8px;
    width: 34.7px;
    height: 12px;
}

#msg-win-cont .body-cont {
    font-size: 1.1em;
    padding: 0px 10px;
}

#page-left-menu-cont {
    position: fixed;
    top: 0px;
    width: 350px;
    height: 100%;
    background-color: #424242;
    z-index: 40;
}

#page-left-menu-cont #scroll-wrapper {
    margin-top: 72px;
    overflow-y: auto;
}

#page-left-menu-cont ul.menu-list-cont {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-top: 85px;
}

#page-left-menu-cont ul.menu-list-cont > li {
    display: block;
    padding: 10px 0 10px 6px;
}

#page-left-menu-cont ul.menu-list-cont > li.enable:hover {
    background-color: #5f5f5f;
}

#page-left-menu-cont ul.menu-list-cont .active-link-indicator {
    border-left: 6px solid white;
    padding-left: 0px;
    outline: 2px solid #424242;
    background-color: #5f5f5f;
}

#page-left-menu-cont ul.menu-list-cont a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

#page-left-menu-cont ul.menu-list-cont li.disable a {
    cursor: default;
}

#page-left-menu-cont ul.menu-list-cont .link-icon-cont-1,
#page-left-menu-cont ul.menu-list-cont .link-icon-cont-2,
#page-left-menu-cont ul.menu-list-cont .link-icon-cont-3,
#page-left-menu-cont ul.menu-list-cont .link-icon-cont-4,
#page-left-menu-cont ul.menu-list-cont .link-icon-cont-5,
#page-left-menu-cont ul.menu-list-cont .link-icon-cont-6 {
    display: inline-block;
    width: 35px;
    height: 30px;
    margin-left: 20px;
    margin-right: 15px;
    overflow: hidden;
}

#page-left-menu-cont ul.menu-list-cont .link-icon-cont-1 > img {
    position: relative;
    width: 274px;
    height: 30px;
}

#page-left-menu-cont ul.menu-list-cont .link-icon-cont-2 > img {
    position: relative;
    left: -46px;
    width: 274px;
    height: 30px;
}

#page-left-menu-cont ul.menu-list-cont .link-icon-cont-3 > img {
    position: relative;
    left: -91px;
    width: 274px;
    height: 30px;
}

#page-left-menu-cont ul.menu-list-cont .link-icon-cont-4 > img {
    position: relative;
    left: -139px;
    width: 274px;
    height: 30px;
}

#page-left-menu-cont ul.menu-list-cont .link-icon-cont-5 > img {
    position: relative;
    left: -189px;
    width: 274px;
    height: 30px;
}

#page-left-menu-cont ul.menu-list-cont .link-icon-cont-6 > img {
    position: relative;
    left: -241px;
    width: 274px;
    height: 30px;
}

#page-left-menu-cont ul.menu-list-cont .link-name {
    position: relative;
    top: -7px;
    font-size: 1.1em;
}

#page-left-menu-cont ul.menu-list-cont li.enable .link-name {
    color: white;
}

#page-left-menu-cont ul.menu-list-cont li.disable .link-name {
    color: #a8b9ce;
}

.page-content-cont {
    padding-top: 70px;
    margin-left: 350px;
    background-color: #eaeaea;
}

.page-title-hd {
    margin-top: 35px;
    padding: 0px 15px;
    font-family: Calibri;
    font-size: 1.7em;
}

.content-body-cont {
    min-height: 500px;
    padding: 20px;
    background-color: white;
}

.content-body-cont .header-description-cont {
    overflow: hidden;
    margin-bottom: 50px;
}

.content-body-cont .header-description-cont .sub-section-hd {
    float: left;
}

.content-body-cont .p1,
.content-body-cont .p2 {
    max-width: 510px;
}

.content-body-cont .p1 {
    margin-bottom: 45px;
}

.content-body-cont .p1 .txt-decor {
    color: #6fb3ea;
}

.email-resend-btn-cont {
    width: 140px;
    margin-top: 30px;
}

.resend-email-anim-cont {
    margin-top: 30px;
    overflow: hidden;
}

.current-inv-sec-1,
.current-inv-sec-2,
.current-inv-sec-3,
.cashout-inv-sec-1,
.cashout-inv-sec-2,
.packages-sec-1,
.payment-pkg-sec-1,
.payment-method-sec-2,
.testimony-sec-1,
.profile-sec-1,
.profile-sec-2,
.profile-sec-3,
.settings-sec-1 {
    padding: 15px 15px;
    margin: 12px;
    margin-bottom: 20px;
    background-color: white;
}

.current-inv-tbl-cont {
    margin-top: 25px;
    margin-bottom: 30px;
}

.current-inv-tbl {
    border-collapse: collapse;
}

.current-inv-tbl td {
    padding: 5px;
    font-family: Calibri;
    font-size: 1.2em;
}

.current-inv-tbl tr > td:first-child {
    min-width: 200px;
}

.current-inv-stat-cont {
    max-width: 800px;
}

.current-inv-stat-wrapper .grid-item {
    padding: 10px 14px 10px 5px;
}

.current-inv-stat-wrapper .amt-inv-cont,
.current-inv-stat-wrapper .roi-cont,
.current-inv-stat-wrapper .mb-inv-cont,
.current-inv-stat-wrapper .cp-inv-cont {
    padding: 5px 0px 7px 12px;
    border-left: 6px solid #00a232;
    background-color: white;
    box-shadow: 0px 1px 6px 1px rgba(133, 144, 156, 0.6);
}

.current-inv-stat-wrapper .amt-inv-cont .data,
.current-inv-stat-wrapper .roi-cont .data,
.current-inv-stat-wrapper .mb-inv-cont .data,
.current-inv-stat-wrapper .cp-inv-cont .data {
    margin-bottom: 4px;
    font-size: 1.4em;
    font-weight: 500;
}

.current-inv-stat-wrapper .amt-inv-cont .title,
.current-inv-stat-wrapper .roi-cont .title,
.current-inv-stat-wrapper .mb-inv-cont .title,
.current-inv-stat-wrapper .cp-inv-cont .title {
    font-size: 0.9em;
}

.current-inv-stat-wrapper .amt-inv-cont {
    border-left: 6px solid #00afef;
}

.current-inv-stat-wrapper .roi-cont .figure {
    float: left;
}

.current-inv-stat-wrapper .roi-cont .data {
    overflow: hidden;
}

.current-inv-stat-wrapper .roi-cont .icon {
    float: right;
    width: 23px;
    height: 18px;
    margin-top: 5px;
    margin-right: 8px;
}

.inv-revenue-cont {
    margin-top: 15px;
    max-width: 650px;
    margin-bottom: 35px;
}

.inv-revenue-wrapper .grid-item {
    padding: 10px 14px 10px 0px;
}

.inv-revenue-wrapper .total-bal-inv-cont .data,
.inv-revenue-wrapper .available-bal-inv-cont .data,
.inv-revenue-wrapper .pending-revenue-inv-cont .data,
.inv-overview-wrapper .total-inv-cont .data,
.inv-overview-wrapper .total--revenue-inv-cont .data {
    margin-bottom: 4px;
    font-size: 1.4em;
    font-weight: 500;
}

.inv-revenue-wrapper .total-bal-inv-cont .title,
.inv-revenue-wrapper .available-bal-inv-cont .title,
.inv-revenue-wrapper .pending-revenue-inv-cont .title,
.inv-overview-wrapper .total-inv-cont .title,
.inv-overview-wrapper .total--revenue-inv-cont .title {
    font-size: 1.0em;
}

.cash-out-btn {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 8px 50px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 1.1em;
    color: white;
    cursor: default;
    background: rgb(51, 51, 51);
    background: linear-gradient(120deg, rgb(105, 105, 105), rgb(51, 51, 51));
}

.cash-out-btn:hover {
    box-shadow: 0px 2px 4px 1px gray;
}

.cash-out-btn:disabled:hover {
    box-shadow: unset!important;
}

.inv-overview-cont {
    margin-top: 15px;
    max-width: 450px;
    margin-bottom: 40px;
}

.inv-overview-wrapper .grid-item {
    padding: 10px 14px 10px 0px;
}

.overview-inv-tbl-cont-wrapper {
    max-width: 1000px;
}

.overview-inv-tbl-cont {
    overflow-x: auto;
    margin-bottom: 25px;
}

.overview-inv-tbl {
    width: 100%;
    min-width: 850px;
    border-collapse: collapse;
}

.overview-inv-tbl tr:nth-child(even) {
    background-color: #d1eaff;
}

.overview-inv-tbl tr:nth-child(odd) {
    background-color: #ebf6ff;
}

.overview-inv-tbl tr:first-child {
    text-align: left;
    color: white;
    background-color: #4098e0;
}

.overview-inv-tbl th,
.overview-inv-tbl td {
    padding: 10px;
}

.overview-inv-tbl th {
    font-size: 1.0em;
    font-weight: 500;
}

.overview-tbl-navi-cont {
    overflow: hidden;
}

.overview-tbl-navi-cont .curr-page-indicator {
    float: left;
    font-size: 1.1em;
    font-weight: 500;
}

.overview-tbl-navi-cont .navi-btn-cont {
    float: right;
}

.overview-tbl-navi-cont .navi-btn-cont > button {
    width: 40px;
    height: 26px;
    margin-left: 4px;
}

.overview-tbl-navi-cont .navi-btn-cont > button > span {
    font-size: 1.4em;
    color: #505050;
}

.cashout-account-tbl-cont {
    margin-top: 25px;
}

#cashout-account-tbl {
    border-collapse: collapse;
}

#cashout-account-tbl tr > td:first-child {
    min-width: 175px;
}

#cashout-account-tbl td {
    padding: 5px;
    font-family: Calibri;
    font-size: 1.2em;
}

.select-input-descr {
    font-size: 1.1em;
    margin-top: 25px;
    margin-bottom: 15px;
}

.select-crypto-cont {
    margin-bottom: 25px;
}

.select-crypto-cont .select-input-descr {
    max-width: 380px;
}

/*remove this class if description above it is shown*/
.crypto-currency-cont {
    margin-top: 20px;
}

#btc-crypto-input,
#eth-crypto-input,
#xrp-crypto-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#btc-crypto-input + label,
#eth-crypto-input + label,
#xrp-crypto-input + label {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    padding-bottom: 0px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: 2px solid lightgray;
    border-radius: 6px;
    overflow: hidden;
}

#btc-crypto-input + label .marker,
#eth-crypto-input + label .marker,
#xrp-crypto-input + label .marker {
    position: absolute;
    top: -11px;
    right: -11px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#btc-crypto-input + label .crypto-icon,
#eth-crypto-input + label .crypto-icon,
#xrp-crypto-input + label .crypto-icon {
    width: 30px;
    height: 30px;
}

#btc-crypto-input + label .crypt-name,
#eth-crypto-input + label .crypt-name,
#xrp-crypto-input + label .crypt-name {
    display: inline-block;
    position: relative;
    margin-left: 2px;
    top: -9px;
    font-size: 1.0em;
    font-weight: 500;
}

#btc-crypto-input:checked + label,
#eth-crypto-input:checked + label,
#xrp-crypto-input:checked + label {
    border: 2px solid #3fa0ef;
}

#btc-crypto-input:checked + label .marker,
#eth-crypto-input:checked + label .marker,
#xrp-crypto-input:checked + label .marker {
    background-color: #3fa0ef;
}

.crypto-input-cont {
    margin-bottom: 20px;
}

.crypto-input-cont > label {
    font-size: 1.1em;
}

.crypto-input-cont > input {
    width: 100%;
    max-width: 350px;
    height: 35px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 10px;
    font-family: Calibri;
    font-size: 1.2em;
    color: #4c4e50;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}

.cashout-proceed-btn-cont,
.payment-proceed-btn-cont {
    max-width: 140px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.cashout-anim-cont,
.payment-anim-cont {
    margin-top: 42px;
    margin-bottom: 11px;
    overflow: hidden;
}

.cashout-anim-cont .vt-bars-anim-cont,
.payment-anim-cont .vt-bars-anim-cont,
.resend-email-anim-cont .vt-bars-anim-cont {
    float: left;
    width: 21px;
    height: 32px;
    margin-left: 20px;
}

.cashout-anim-cont .anim-txt,
.payment-anim-cont .anim-txt,
.resend-email-anim-cont .anim-txt {
    margin-left: 65px;
    margin-top: 2px;
    font-size: 1.1em;
    font-weight: 500;
    color: #399ced;
}

.package-descr-cont {
    font-size: 1.1em;
    max-width: 520px;
    margin-bottom: 80px;
}

.package-list-wrapper .grid-item {
    padding: 15px;
    padding-bottom: 50px;
}

.package-list-wrapper .package-cont {
    box-shadow: 0px 1px 10px 2px rgba(133, 144, 156, 0.6);
    overflow: hidden;
    border-radius: 6px;
}

.package-list-wrapper .package-cont.item-1 .upper-sec {
    border-bottom: 3px solid #d58042;
}

.package-list-wrapper .package-cont.item-2 .upper-sec {
    border-bottom: 3px solid #a85d18;
}

.package-list-wrapper .package-cont.item-3 .upper-sec {
    border-bottom: 3px solid #a9abae;
}

.package-list-wrapper .package-cont.item-4 .upper-sec {
    border-bottom: 3px solid #d9b800;
}

.package-list-wrapper .package-cont .upper-sec {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.package-list-wrapper .package-cont .title {
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.package-list-wrapper .package-cont .price-range {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 5px;
}

.package-list-wrapper .package-cont .duration-cont {
    font-size: 1.4em;
    font-weight: 500;
}

.package-list-wrapper .package-cont .duration-cont .duration {
    font-weight: bold;
    font-size: 1.3em;
}

.package-list-wrapper .package-cont .lower-sec {
    min-height: 170px;
    padding: 10px 15px;
    padding-bottom: 40px;
}

.package-list-wrapper .package-cont .pkg-features-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.package-list-wrapper .package-cont .pkg-features-list > li {
    padding: 8px 0px;
    text-align: center;
    font-size: 1.0em;
    border-bottom: 2px solid lightgray;
}

.package-list-wrapper .package-cont .invest-btn-cont {
    padding: 15px;
}

.investment-error-cont {
    padding: 15px 15px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    background-color: white;
}

.investment-error-cont .err-msg {
    max-width: 520px;
    font-size: 1.1em;
    line-height: 26px;
}

.inv-cont {
    margin-top: 40px;
}

.inv-img-cont {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    overflow: hidden;
}

.inv-img-cont > img {
    height: 50px;
    width: auto;
}

.inv-img-cont.pkg-1 > img {
    position: relative;
    left: 0px;
}

.inv-img-cont.pkg-2 > img {
    position: relative;
    left: -62px;
}

.inv-img-cont.pkg-3 > img {
    position: relative;
    left: -124px;
}

.inv-img-cont.pkg-4 > img {
    position: relative;
    left: -185px;
}

.inv-img-cont.pkg-5 > img {
    position: relative;
    left: -247px;
}

.inv-name-cont {
    display: inline-block;
}

.inv-name-cont > h2 {
    position: relative;
    top: -15px;
    margin: 0;
    font-size: 2.0em;
    font-weight: 500;
}

.inv-feature-list-cont > h3 {
    font-weight: 500;
}

.inv-feature-list-cont {
    max-width: 500px;
}

.inv-feature-list {
    padding-left: 22px;
}

.inv-feature-list > li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

#payment-win-cont {
    position: fixed;
    top: 15%;
    left: 50%;
    width: 100%;
    max-width: 450px;
    margin-left: -225px;
    z-index: 40;
}

.payment-win-wrapper {
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}

#payment-win-cont .title-bar-cont {
    overflow: hidden;
}

#payment-win-cont .title-bar-cont > .title {
    float: left;
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 1.3em;
}

#payment-win-cont .title-bar-cont > .close-btn {
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #6cb6f3;
    cursor: default;
}

#payment-win-cont .title-bar-cont > .close-btn:hover {
    background-color: rgb(255, 70, 70);
}

#payment-win-cont .title-bar-cont > .close-btn > img {
    position: relative;
    top: 1px;
    left: 6.8px;
    width: 34.7px;
    height: 12px;
}

#payment-win-cont .body-cont {
    font-size: 1.1em;
    overflow-y: auto;
    border: 1px solid #cecece;
    border-radius: 4px;
}

#payment-win-cont .body-wrapper {
    padding: 0px 10px;
}

.payment-details-cont {
    margin-bottom: 30px;
}

.payment-details-cont .amount-cont {
    margin-bottom: 20px;
}

.payment-details-cont .address-cont {
    margin-bottom: 15px;
}

.payment-details-cont .amount-cont .header,
.payment-details-cont .address-cont .header {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.0em;
}

.payment-details-cont .address-cont .payment-address {
    position: relative;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.payment-details-cont .address-cont .payment-address .copy-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.payment-details-cont .address-cont .payment-address .copy-btn > i {
    font-size: 2.0em;
    color: #6cb6f3;
}

.payment-details-cont .address-cont .payment-address > input {
    width: 100%;
    padding: 10px 0px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 1.0em;
}

.payment-qr-code-cont {
    text-align: center;
    margin-bottom: 40px;
}

.payment-qr-code {
    width: 150px;
    height: 150px;
}

.payment-qr-code-cont .qr-text {
    font-size: 0.8em;
}

.payment-sent-btn-cont {
    margin-bottom: 10px;
}

.testimony-list-cont {
    overflow-y: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    max-height: 500px;
}

#testimony-list-wrapper {
    overflow: hidden;
    max-width: 700px;
}

.testimony-item {
    padding: 10px;
    margin: 2px 5px 15px 5px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0px 2px 7px 0px rgba(133, 144, 156, 0.6);
}

.testimony-item .top-bar-cont .delete-btn-cont {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.testimony-item .top-bar-cont .delete-btn-cont:hover {
    background-color: #e8e8e8;
    cursor: default;
}

.testimony-item .top-bar-cont .delete-btn-cont > img {
    position: relative;
    top: 4px;
    left: -84px;
    height: 20px;
    width: 181px;
}

.testimony-item .msg-body {
    font-size: 1.1em;
    padding-right: 40px;
    margin-bottom: 20px;
    min-height: 30px;
}

.testimony-item .footer-bar-cont {
    overflow: hidden;
}

.testimony-item .footer-bar-cont .write-time-label {
    float: right;
    font-size: 1.0em;
    color: #3d9eee;
}

#no-testimony-msg {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px 0px;
    border: 1px solid lightgray;
    background-color: #e8e8e8;
}

.testimony-text-input-cont .textarea-cont {
    max-width: 700px;
    margin-bottom: 20px;
}

.testimony-text-input-cont .textarea-cont > label {
    display: inline-block;
    font-size: 1.0em;
    margin-left: 10px;
    margin-bottom: 5px;
}

#testimony-textarea {
    resize: none;
    overflow-y: hidden;
    width: 100%;
    min-height: 80px;
    padding: 10px 15px;
    margin: 0px;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: #4a4a4a;
}

#testimony-textarea:focus {
    outline: none;
    border: 1px solid #8e8e8e;
}

.publish-btn-cont {
    max-width: 140px;
    margin-bottom: 40px;
}

.account-profile-cont {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.profile-pic-cont {
    float: left;
    position: relative;
    width: 130px;
    height: 130px;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d4d4d4;
    border: 5px solid #dedede;
}

.profile-pic-cont > img.default-pic {
    width: 130px;
    height: 167px;
}

.profile-pic-cont > img.user-pic {
    width: 130px;
    height: 130px;
}

#upload-profile-pic-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.profile-pic-cont:hover .upload-profile-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -22px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.upload-profile-pic > span {
    font-size: 1.5em;
    color: white;
}

.account-details-cont {
    float: left;;
}

.account-details-cont > .name {
    margin: 15px 0px 10px 0px;
    font-size: 1.4em;
    font-weight: 500;
}

.account-details-cont > .username,
.account-details-cont > .ref-id,
.account-details-cont > .location {
    font-family: sans-serif;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.account-details-cont > .username > span,
.account-details-cont > .ref-id > span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.95em;
}

.account-details-cont > .username span,
.account-details-cont > .ref-id span {
    display: inline-block;
    color: #868686;
    width: 110px;
}

.account-details-cont > .location {
    margin-top: 10px;
}

.account-details-cont > .location span {
    font-size: 1.2em;
    color: #3d9eee;
    padding-right: 15px;
}

.header-title-cont {
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.header-title {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 500;
    color: #505050;
    margin-top: 5px;
    margin-bottom: 10px;
}

.edit-sec-btn {
    float: right;
    padding: 10px;
    cursor: pointer;
}

.edit-sec-btn > span {
    font-size: 1.2em;
    color: #505050;
}

.edit-profile-input-cont {
    display: table;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.edit-profile-input-cont > label {
    display: table-cell;
    width: 140px;
    font-size: 1.1em;
    color: #868686;
}

.edit-profile-input-cont > input,
.edit-profile-input-cont > #profile-gender-input {
    display: table-cell;
    width: 100%;
    height: 35px;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #525252;
    border: 0;
    outline: 0;
    padding-left: 5px;
    border-bottom: 1px solid #949494;
    box-sizing: border-box;
    background-color: white;
}

.edit-profile-input-cont > #profile-gender-input {
    max-width: 150px;
}

.edit-profile-input-cont > .cover-select-icon {
    display: none;
}

.edit-profile-input-cont > select:disabled + .cover-select-icon {
    display: block;
    position: absolute;
    width: 50px;
    height: 20px;
    margin-top: -30px;
    margin-left: 115px;
    background-color: white;
}

.edit-profile-input-cont > input:disabled,
.edit-profile-input-cont > select:disabled {
    border-bottom: 1px solid rgba(255, 255, 255, 0)!important;
}

.personal-info-save-btn-cont,
.contact-info-save-btn-cont {
    min-height: 50px;
    max-width: 400px;
    margin-top: 25px;
    overflow: hidden;
}

#personal-info-save-btn-wrapper .cancel-btn-cont,
#contact-info-save-btn-wrapper .cancel-btn-cont {
    float: right;
    margin-right: 10px;
}

#personal-info-save-btn-wrapper .save-btn-cont,
#contact-info-save-btn-wrapper .save-btn-cont {
    float: right;
}

#personal-info-save-btn-wrapper .cancel-btn-cont > button,
#personal-info-save-btn-wrapper .save-btn-cont > button,
#contact-info-save-btn-wrapper .cancel-btn-cont > button,
#contact-info-save-btn-wrapper .save-btn-cont > button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: 1.0em;
    font-weight: 500;
    color: #6b6b6b;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: white;
}

#personal-info-save-btn-wrapper .cancel-btn-cont > button:hover,
#personal-info-save-btn-wrapper .save-btn-cont > button:hover,
#contact-info-save-btn-wrapper .cancel-btn-cont > button:hover,
#contact-info-save-btn-wrapper .save-btn-cont > button:hover {
    color: #555555;
}

#personal-info-save-btn-wrapper .cancel-btn-cont > button:disabled:hover,
#personal-info-save-btn-wrapper .save-btn-cont > button:disabled:hover,
#contact-info-save-btn-wrapper .cancel-btn-cont > button:disabled:hover,
#contact-info-save-btn-wrapper .save-btn-cont > button:disabled:hover {
    color: #7a7a7a; /*default color*/
}

#img-editor-win-cont {
    position: fixed;
    top: 15%;
    left: 50%;
    width: 100%;
    max-width: 400px;
    min-height: 140px;
    margin-left: -200px;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
    border-top: 1px solid lightgray;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 200;
}

#img-editor-win-cont .title-bar-cont {
    overflow: hidden;
}

#img-editor-win-cont .title-bar-cont > .close-btn {
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #6cb6f3;
    cursor: default;
}

#img-editor-win-cont .title-bar-cont > .close-btn:hover {
    background-color: rgb(255, 70, 70);
}

#img-editor-win-cont .title-bar-cont > .close-btn > img {
    position: relative;
    top: 1px;
    left: 6.8px;
    width: 34.7px;
    height: 12px;
}

#img-editor-win-cont .profile-img-cont {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#img-editor-win-cont .profile-img-wrapper {
    position: relative;
    top: 25px;
    left: 25px;
    width: 250px;
    height: 250px;
}

#img-editor-win-cont .profile-img-wrapper > img {
    position: relative;
}

#img-editor-win-cont .img-clip-marker {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 250px;
    height: 250px;
    outline: 25px solid rgba(25, 25, 25, 0.4);
    border: 1px dashed #565656;
    cursor: move;
}

#img-editor-win-cont .img-clip-marker .vt-bars-anim-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    width: 20px;
    height: 16px;
}

#img-editor-win-cont .profile-btn-cont {
    width: 300px;
    height: 40px;
    margin: auto;
    margin-bottom: 40px;
}

#img-editor-win-cont .cancel-btn-cont {
    float: right;
    width: 100%;
    max-width: 100px;
    margin-right: 15px;
}

#img-editor-win-cont .apply-btn-cont {
    float: right;
    width: 100%;
    max-width: 100px;
}

.settings-header-title {
    margin: 0px;
    font-size: 1.3em;
    font-weight: 500;
    color: #3fa0ef;
    margin-top: 15px;
}

.change-password-input-cont {
    margin-top: 30px;
}

.settings-input-cont {
    display: table;
    position: relative;
    width: 100%;
    max-width: 480px;
    margin-bottom: 15px;
}

.settings-input-cont > label {
    display: table-cell;
    width: 175px;
    font-size: 1.1em;
    color: #868686;
}

.settings-input-cont > input {
    display: table-cell;
    width: 100%;
    height: 35px;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #525252;
    border: 0;
    outline: 0;
    padding-left: 5px;
    border-bottom: 1px solid #949494;
    box-sizing: border-box;
    background-color: white;
}

#settings-show-passwd-cont {
    position: absolute;
    right: 4px;
    width: 30px;
    height: 30px;
    margin-top: -35px;
}

#settings-show-passwd-cont.hide > span {
    font-size: 1.2em;
    padding-top: 6px;
    padding-left: 4px;
    cursor: pointer;
    color: #9da0a2
}

#settings-show-passwd-cont.show > span {
    font-size: 1.2em;
    padding-top: 6px;
    padding-left: 4px;
    cursor: pointer;
    color: #3c9eee;
}

.settings-input-cont .passwd-strength-indicator-cont {
    display: table;
    width: 100%;
    margin-top: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.settings-input-cont .passwd-strength-indicator-cont .ind-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.settings-input-cont .passwd-strength-indicator-cont .ind-wrapper .indicator {
    height: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
    background-color: lightgray;
}

.settings-input-cont .passwd-strength-indicator-cont .txt-ind-wrapper {
    display: table-cell;
    width: 35%;
    vertical-align: middle;
    text-align: center;
}

.settings-input-cont .passwd-strength-indicator-cont .txt-ind-wrapper > span {
    position: relative;
    top: -3px;
    font-size: 1.0em;
    color: #3c9eee;
    /*color: #949494;*/
}

.settings-passwd-submit-btn-cont {
    min-height: 50px;
    max-width: 480px;
    margin-top: 50px;
    overflow: hidden;
}

.settings-passwd-submit-btn-wrapper {
    float: right;
    width: 100%;
    max-width: 120px;
}

.page-footer {
    margin-top: 200px;
    background-color: #5f5f5f;
}

.page-footer-cont {
    display: table;
    /*width: 100%;*/
    padding: 30px 15px;
    padding-bottom: 0px;
    margin-bottom: 25px;
}

.page-footer-cont .footer-wrapper-1 {
    display: table-cell;
    vertical-align: top;
    min-width: 280px;
    border-right: 2px solid white;
}

.footer-site-logo-cont {
    width: 260px;
    height: 40px;
}

.footer-site-logo-cont img {
    height: 35px;
    width: 254px;
}

.page-footer-cont .footer-wrapper-2 {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.page-footer-cont .footer-col-cont {
    display: table;
    width: 100%;
}

.page-footer-cont .footer-col-1 {
    min-width: 370px;
    padding-left: 20px;
    border-right: 2px solid white;
}

.page-footer-cont .footer-col-2 {
    display: table-cell;
    width: 100%;
    padding-left: 20px;
}

.page-footer-cont ul.footer-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.page-footer-cont ul.footer-links > li {
    display: inline-block;
    padding: 8px 16px;
    padding-left: 0px;
}

.page-footer-cont ul.footer-links > li > a {
    text-decoration: none;
    font-size: 1.0em;
    color: white;
}

.page-footer-cont ul.footer-links > li > a:hover {
    color: #e6e6e6;
}

.page-footer .footer-hr-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #4e4e4e;
}

.page-footer .footer-base {
    padding: 10px 15px;
    font-size: 1.0em;
    color: white;
    background-color: #5f5f5f;
    border-top: 1px solid #737373;
}

@media only screen and (max-width: 1500px) {
    .package-list-wrapper .grid-item {
        width: 50%!important;
    }

    .page-footer-cont {
        display: block;
    }

    .page-footer-cont .footer-wrapper-1 {
        display: block;
        margin-bottom: 20px;
    }

    .page-footer-cont .footer-wrapper-2 {
        display: block;
    }

    .page-footer-cont .footer-wrapper-1 {
        border-right: none;
    }

    .page-footer-cont .footer-col-1 {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 1200px) {
    .current-inv-stat-wrapper .grid-item {
        width: 50%!important;
    }
}

@media only screen and (max-width: 1000px) {
    .show-side-menu-icon {
        display: block;
    }

    .site-logo-cont {
        margin-left: 10px;
    }

    #page-left-menu-cont {
        width: 300px;
        box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
    }

    ul.menu-link-cont .user-cont > .user {
        display: none;
    }

    #help-drop-down-menu-cont {
        right: 10px;
    }

    #user-drop-down-menu-cont .pointer {
        right: 50px;
    }

    #help-drop-down-menu-cont .pointer {
        right: 235px;
    }

    #page-left-menu-cont.hide-menu {
        left: -308px;
        transition: left 0.3s;
    }

    #page-left-menu-cont.show-menu {
        left: 0px;
        transition: left 0.5s;
    }

    .page-content-cont {
        margin-left: 0px;
    }

    .current-inv-stat-wrapper .grid-item {
        width: 25%!important;
    }
}

@media only screen and (max-width: 800px) {
    #compose-mail-editor {
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    .current-inv-stat-wrapper .grid-item {
        width: 50%!important;
    }
}

@media only screen and (max-width: 700px) {
    .show-side-menu-icon {
        display: block;
        margin-left: 20px;
    }

    ul.menu-link-cont {
        margin-right: 10px;
    }

    .site-logo-cont {
        width: 50px;
        margin-left: 0px!important;
        overflow: hidden;
    }

    ul.menu-link-cont > li {
        margin: 16px 8px 16px 8px;
    }

    ul.menu-link-cont .help-cont > .fa-question-circle {
        font-size: 1.8em;
        padding-right: 0px;
    }

    ul.menu-link-cont > li.help-cont > span.txt{
        display: none;
    }

    #user-drop-down-menu-cont,
    #help-drop-down-menu-cont {
        right: 0px!important;
        width: 100%!important;
    }

    #user-drop-down-menu-cont .pointer {
        right: 38px!important;
    }

    #help-drop-down-menu-cont .pointer {
        right: 147px!important;
    }

    #notification-win-cont {
        width: 100%;
    }

    #msg-win-cont {
        left: 0%;
        max-width: unset;
        margin-left: 0px;
    }

    .page-content-cont {
        padding-top: 70px;
    }

    .inv-revenue-wrapper .grid-item {
        width: 50%!important;
    }

    #cashout-account-tbl tr > td:first-child {
        min-width: 160px;
    }

    .package-list-wrapper .grid-item {
        width: 100%!important;
    }

    #payment-win-cont {
        left: 0%;
        width: unset;
        max-width: unset;
        margin-left: 0px;
    }

    .profile-pic-cont {
        float: none;
        left: 50%;
        margin-left: -65px;
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .account-details-cont > .username span,
    .account-details-cont > .ref-id span {
        display: inline-block;
        color: #868686;
        width: 100px;
    }

    .edit-profile-input-cont {
        display: block;
    }

    #img-editor-win-cont {
        max-width: 330px;
        margin-left: -175px;
    }

    .settings-input-cont {
        display: block;
    }

    .page-footer-cont .footer-col-cont {
        display: block;
    }

    .page-footer-cont .footer-col-1 {
        min-width: unset;
        border-right: none;
        padding-bottom: 15px;
    }

    .page-footer-cont .footer-col-2 {
        display: block;
        width: unset;
        padding-left: 0px;
    }

    .page-footer-cont ul.footer-links > li {
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    #compose-mail-editor {
        top: 75px;
    }

    #compose-mail-editor .edit-body-cont {
        height: 180px;
    }
}

@media only screen and (max-width: 400px) {
    .current-inv-stat-wrapper .grid-item {
        width: 100%!important;
    }
}